{%- liquid
  assign currencies = localization.available_countries | map: 'currency' | map: 'iso_code' | uniq
  assign popular_countries = localization.available_countries | where: 'popular?' | sort: 'name'

  assign show_country_filter = false
  if localization.available_countries.size > 9
    assign show_country_filter = true
  endif

  assign show_popular_countries = false
  if localization.available_countries.size > 9 and popular_countries.size > 1
    assign show_popular_countries = true
  endif

  assign show_currencies = false
  if currencies.size > 1
    assign show_currencies = true
  endif
%}

<div class="group relative lg:!inline-block " style="background: var(--header_background);">
  <button
    type="button"
    class="bb-localization-form__select localization-form__select"
    aria-expanded="false"
    aria-controls="{{ localPosition }}-country-results"
    aria-describedby="{{ localPosition }}Label"
  >
  <div class="inline-flex items-center cursor-pointer gap-0.5 " style="gap: 5px;">
    <span class="country-flag">
      <img 
        src="https://flagcdn.com/w20/{{ localization.country.iso_code | downcase }}.png" 
        alt="{{ localization.country.name }} flag"
        width="20"
        height="15"
        loading="lazy"
      >
    </span>
    <span>
      {{- localization.country.name |  upcase}} 
    </span>
    {% if section.settings.dropdown_icon != blank %}
      <img
        src="{{ section.settings.dropdown_icon | image_url }}"
        alt="Dropdown Icon"
        class="w-12 h-6 object-contain transition-transform duration-300 group-hover:-rotate-90"
        width="100%"
        height="auto"
        aria-hidden="true"
      >
    {% else %}
      <svg
        width="41"
        height="20"
        viewBox="0 0 41 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="dropdown-arrow w-5 h-5 object-contain transition-transform duration-300 mx-1"
        style="color: var(--header_text);"
        stroke="currentColor"
      >
        <path d="M20.3119 19.7659C20.7254 19.7298 21.1168 19.5625 21.4298 19.2881L39.5626 3.50455C39.7667 3.3376 39.9354 3.131 40.0586 2.89707C40.1818 2.66313 40.2569 2.40663 40.2795 2.14286C40.3022 1.87909 40.2718 1.61342 40.1903 1.3617C40.1088 1.10998 39.9778 0.877357 39.805 0.677661C39.6323 0.477966 39.4215 0.315286 39.185 0.199328C38.9485 0.0833695 38.6912 0.0164912 38.4285 0.0026841C38.1658 -0.011123 37.9031 0.0284416 37.6559 0.118979C37.4087 0.209515 37.1821 0.349193 36.9897 0.529697L20.1434 15.1881L3.29712 0.529697C3.10468 0.349193 2.87811 0.209515 2.63091 0.118979C2.38372 0.0284416 2.12095 -0.011123 1.85825 0.0026841C1.59555 0.0164912 1.3383 0.0833695 1.10182 0.199328C0.865337 0.315286 0.654461 0.477966 0.481748 0.677661C0.309036 0.877357 0.17802 1.10998 0.0965041 1.3617C0.0149883 1.61342 -0.0153602 1.87909 0.00726535 2.14286C0.0298909 2.40663 0.105028 2.66313 0.228202 2.89707C0.351376 3.131 0.520068 3.3376 0.72423 3.50455L18.8569 19.2881C19.0552 19.4619 19.2862 19.5937 19.5362 19.6758C19.7861 19.7579 20.0499 19.7885 20.3119 19.7659Z" fill="currentColor"/>
      </svg>
    {% endif %}
  </div>
  </button>
  <div class="bb-disclosure__list-wrapper disclosure__list-wrapper country-selector" hidden>
    <div
      class="bb-disclosure__list disclosure__list country-selector__list{% if show_currencies %} country-selector__list--with-multiple-currencies{% endif %}"
      id="{{ localPosition }}-country-results"
    >
      {% if show_popular_countries %}
        <ul
          role="list"
          class="list-unstyled popular-countries"
          aria-label="{{ 'localization.popular_countries_regions' | t }}"
        >
          {%- for country in popular_countries -%}
            <li class="disclosure__item" tabindex="-1">
              <a
                class="link link--text disclosure__link caption-large focus-inset"
                href="#"
                {% if country.iso_code == localization.country.iso_code %}
                  aria-current="true"
                {% endif %}
                data-value="{{ country.iso_code }}"
                id="{{ country.name }}"
              >
                <span
                  {% if country.iso_code != localization.country.iso_code %}
                    class="visibility-hidden"
                  {% endif %}
                >
                  {{- 'icon-checkmark.svg' | inline_asset_content -}}
                </span>
                <span class="country">{{- country.name }}</span>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {% endif %}
      <ul role="list" class="overflow-y-auto divide-y divide-gray-100" style="max-height: 500px; max-width: 400px;">
        {% for country in localization.available_countries %}
          <li>
            <a
            class="w-full flex items-center justify-between px-4 py-2 text-3xl hover:bg-gray-300"
            href="#"
            {% if country.iso_code == localization.country.iso_code %}
              aria-current="true"
            {% endif %}
            data-value="{{ country.iso_code }}"
            id="{{ country.name }}"
          >
              <span class="mx-2">{{ country.name }}</span>
              <span class=" font-medium">
                {{ country.currency.iso_code }}
                {{ country.currency.symbol }}
              </span>
            </a>
          </li>
          {%- endfor -%}
      </ul>
    </div>
  </div>
  <div class="country-selector__overlay"></div>
</div>
<input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
