{% comment %}
  Quantity input

  Accepts:
  - variant: {Object} Variant object
  - variant_id: {String} Variant ID (optional)
  - min: {Number} Min (optional, defaults to 1)
  - mobile: {Boolean} Whether this is for mobile (optional)
  - for_cart: {Boolean} Whether this is for cart updates vs add-to-cart (optional, defaults to false)

  Usage:
  {% render 'quantity-input' variant: variant, mobile: true, min: 1, for_cart: false %}
{% endcomment %}

<quantity-input class="quantity cart-quantity">
  <button
    class="quantity__button"
    name="minus"
    type="button"
    data-target="decrement-{{ variant.id }}{% if mobile %}-mobile{% endif %}"
  >
    <span class="visually-hidden">
      {{- 'products.product.quantity.decrease' | t: product: variant.title | escape -}}
    </span>
    <span class="svg-wrapper">{{ 'icon-minus.svg' | inline_asset_content }}</span>
  </button>
  <input
    class="quantity__input {% if mobile %}mobile-quantity-input{% else %}desktop-quantity-input{% endif %}"
    data-quantity-variant-id="{{ variant.id }}"
    type="number"
    name="{% if for_cart %}updates[{{ variant.id }}]{% else %}quantity{% endif %}"
    {% # theme-check-disable %}
    value="{% if for_cart %}{{ cart | item_count_for_variant: variant.id }}{% else %}1{% endif %}"
    data-cart-quantity="{{ cart | item_count_for_variant: variant.id }}"
    min="{{ min | default: 1 }}"
    data-min="{{ variant.quantity_rule.min }}"
    {% if variant.quantity_rule.max != null %}
      max="{{ variant.quantity_rule.max }}"
    {% endif %}
    step="{{ variant.quantity_rule.increment }}"
    {% # theme-check-enable %}
    aria-label="{{ 'products.product.quantity.input_label' | t: product: variant.title | escape }}"
    id="Quantity-{{ variant.id }}{% if mobile %}-mobile{% endif %}"
    data-index="{{ variant.id }}"
    data-target="quantity-input-{{ variant.id }}{% if mobile %}-mobile{% endif %}"
  >
  <button
    class="quantity__button"
    name="plus"
    type="button"
    data-target="increment-{{ variant.id }}{% if mobile %}-mobile{% endif %}"
  >
    <span class="visually-hidden">
      {{- 'products.product.quantity.increase' | t: product: variant.title | escape -}}
    </span>
    <span class="svg-wrapper">{{ 'icon-plus.svg' | inline_asset_content }}</span>
  </button>
  {%- render 'progress-bar' -%}
</quantity-input>

<style>
  .quantity__input {
    border: 1px solid var(--border) !important;
  }
</style>
