<script src="{{ 'blog-edit.js' | asset_url }}" defer></script>
<style>
  @media (max-width: 767px) {
  .card-excerpt {
     margin-left:25px !important;
  }
  .overlay-content{
    margin-top:20px !important; 
  }
  #animated-heading {
    font-size: 2rem !important; 
    width: 70vw !important; 
  }

  .hero-image {
    height: 500px !important; 
  }

  .subclass-header svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-top:-10px;
  }

  .subclass-header span {
    font-size: 1.25rem;
  }
   #arrow-svg{
     height: 24px !important;
      width: 32px !important;
    margin-left:0px !important;
     margin-top:16px !important;
  }
  .subclass-subheader {
    margin-left: 0 !important;
    font-size: 1rem;
    margin-top:10px !important;
  }
    #subclass-svg-arrow{
      margin-top:5px !important;
    }
}

 :root {
    --font-heading-family: {{ settings.type_heading_font.family }}, sans-serif;
    --font-body-family: {{ settings.type_body_font.family }}, sans-serif;
  }
  .hero-image {
    object-fit: cover;
  }
  #animated-heading {
    font-family: var(--font-heading-family);
  }
  .letter {
    display: inline-block;
    opacity: 0;
    transform: translateX(100vw);
    animation: slideInLetter 0.8s forwards;
  }
  @keyframes slideInLetter {
    0% {
      opacity: 0;
      transform: translateX(100vw);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .date-tag, .card-excerpt {
    font-family: var(--font-body-family);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up {
  animation: fadeUp 2.0s ease-out forwards;
}
  .card-excerpt{
     margin-left:76px;
  }
  .text-overlay-white {
  color: var(--header_text);
}
  .text-new-this-week-color {
  color: var(--text); 
}

.text-b-mail-color {
  color: var(--text); 
}
.text-article-date-color {
  color: var(--text);
}
.text-card-subtitle-color {
  color: var(--text);
}
.text-card-title-color {
  color: var(--text);
}

.arrow-svg {
  stroke: currentColor;
  fill: none;
  color: var(--text);
  margin-left: -38px;
  flex-shrink: 0;
}

.subclass-svg-arrow {
  stroke: currentColor;
  fill: none;
   color: var(--text);
  margin-right: 8px;
  flex-shrink: 0;
}

</style>

<section class="color-{{ section.settings.color_scheme }} overflow-hidden flex relative">
  {% if section.settings.image != blank %}
  <img
    class="hero-image absolute md:h-full w-full z-1 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500"
    src="{{ section.settings.image | image_url: width: 2000 }}"
    alt="Hero Background"
    height="80%"
    width="100%"
    tabindex="0"
  />
  {% else %}{{ 'image' | placeholder_svg_tag: 'hero-image absolute md:h-[500px] w-full' }}
{% endif %}
  <div class="w-full max-w-7xl flex flex-col text-left" style='margin-left:13px;'>
    <div class="overlay-content max-w-7xl relative z-2 flex flex-col text-overlay-white" style="margin-top:55px;">
      <div class="top-18 left-20 text-xl sm:text-2xl md:text-3xl date-tag">
        {{ section.settings.date_text }}
      </div>

      <div class="flex flex-row">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="arrow-svg w-9 h-8 md:mt-[20px] mt-[10px] sm:w-16 sm:h-18 md:w-20 md:h-44 lg:w-44 lg:h-28"
          id="arrow-svg"
          viewBox="0 0 14 14"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          style="fill:none;"
        >
          <path d="M7.47241 7.47241L7.47241 1.00001M7.47241 1.00001L1.00001 1.00001M7.47241 1.00001L1.00001 7.47241"></path>
        </svg>
        <div class="top-11 left-3 md:left-25 z-10 flex flex-col items-start text-left">
          <div
            class="text-4xl sm:text-6xl md:text-[10.5rem] font-medium uppercase leading-tight sm:leading-none break-words md:w-[40vw] sm:w-[100px] w-[50vw]" style="width:730px; color: {{ section.settings.color_scheme | default: '#ffffff' }}"
            id="animated-heading"
          >
            {{ section.settings.full_text }}
          </div>
        </div>
      </div>
      <p class="md:bottom-2 md:right-100 text-xl sm:text-2xl md:text-3xl uppercase top-60 card-excerpt md:top-180">
        {{ section.settings.excerpt_text }}
      </p>
    </div>
  </div>
</section>

<section class="p-6 fade-up color-{{ section.settings.color_scheme }}">
  <div class="w-full uppercase">
    <div class="flex flex-col md:flex-row md:items-start gap-10">
      
      <div class="w-2/3 max-w-[300px]">
        <p class="text-sm md:text-[20px] font-bold text-new-this-week-color">{{ section.settings.top_text }}</p>
        <h2 class="text-sm md:text-[42px] font-bold mt-2 text-b-mail-color">{{ section.settings.main_heading }}</h2>
      </div>

      <div class="flex flex-col md:flex-row md:flex-wrap gap-6 w-full">
        {% for block in section.blocks %}
          <a href="{{ block.settings.card_link }}" class="block w-full md:w-1/3 space-y-2 px-2 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 transition-shadow hover:shadow-lg">
            <div class="aspect-[5/3] overflow-hidden border">
              {% if block.settings.card_image != blank %}
                <img 
                  src="{{ block.settings.card_image | img_url: 'medium' }}"
                  alt="{{ block.settings.card_title | escape }}"
                  loading="lazy"
                  width="100%"
                  height="auto"
                  class="w-full h-full object-cover"
                />
              {% else %}
                {{ 'collection-1' | placeholder_svg_tag: 'w-full h-full bg-gray-100' }}
              {% endif %}
            </div>

            <p class="text-sm md:text-[20px] mt-2 text-article-date-color">{{ block.settings.article_date }}</p>

            <h3 class="subclass-header flex items-center text-sm md:text-[32px] font-bold leading-snug" style="margin-bottom: -10px;
">
             <svg
              xmlns="http://www.w3.org/2000/svg"
              class="arrow-svg w-9 h-8 md:mt-[20px] mt-[10px] sm:w-16 sm:h-18 md:w-20 md:h-44 lg:w-44 lg:h-28"
              id="arrow-svg"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              style="fill:none;"               
            >
             <path d="M7.47241 7.47241L7.47241 1.00001M7.47241 1.00001L1.00001 1.00001M7.47241 1.00001L1.00001 7.47241"></path>
        </svg>
              <span class="text-card-title-color">
                {{ block.settings.card_title }}
              </span>
            </h3>

            <span class="subclass-subheader text-sm md:text-[20px] md:ml-[20px] tracking-tight text-card-subtitle-color">
              {{ block.settings.card_subtitle }}
            </span>
          </a>
        {% endfor %}
      </div>
    </div>

   <hr class="w-screen max-w-none mx-auto my-8"
     style="border-top-width: 0px; border-style: solid;" />
  </div>
</section>

{% schema %}
{
  "name": "Blog",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color Scheme"
    },
    {
      "type": "text",
      "id": "full_text",
      "label": "Full Heading Text",
      "default": "The Bandit x ASICS Novablast 5 Campaign"
    },
    {
      "type": "text",
      "id": "date_text",
      "label": "Date",
      "default": "04.01.25"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main Image"
    },
     {
      "type": "text",
      "id": "top_text",
      "label": "Top Text",
      "default": "New This Week"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "The B-Mail"
    },
    {
      "type": "text",
      "id": "excerpt_text",
      "label": "Excerpt Text",
      "default": "Our first-ever footwear collaboration."
    },
    {
      "type":"text",
      "id": "subclass-header",
      "label":"Sub Section Header",
      "default":"THE BANDIT X ASICS NOVABLAST 5 MOODBOARD"
    },
    {
      "type":"text",
      "id":"subclass-subheader",
      "label":"Subclass subheader",
      "default":"INSPIRED BY THE WORK OF JAPANESE AMERICAN ARTIST, ISAMU NOGUCHI."
    },
  ],
 "blocks": [
    {
      "type": "blog_card",
      "name": "Article Card 1",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card Image"
        },
        {
          "type": "text",
          "id": "article_date",
          "label": "Article Date",
          "default": "04.01.25"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title",
          "default": " The Bandit x ASICS Novablast 5 Moodboard"
        },
        {
          "type": "text",
          "id": "card_subtitle",
          "label": "Card Subtitle",
          "default": "Inspired by the work of Japanese American artist, Isamu Noguchi."
        },
        {
          "type": "url",
          "id": "card_link",
          "label": "Card Link"
        }
      ]
    },
    {
      "type": "blog_card_2",
      "name": "Article Card 2",
      "settings": [
         {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color Scheme"
    },
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card Image"
        },
        {
          "type": "text",
          "id": "article_date",
          "label": "Article Date",
          "default": "04.01.25"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title",
          "default": "Behind the Scenes of the Bandit x ASICS NOVABLAST 5 Campaign "
        },
        {
          "type": "text",
          "id": "card_subtitle",
          "label": "Card Subtitle",
          "default": "Thank you to everyone who worked on this project!"
        },
        {
          "type": "url",
          "id": "card_link",
          "label": "Card Link"
        }
      ]
    },
    {
      "type": "blog_card_3",
      "name": "Article Card 3",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card Image"
        },
        {
          "type": "text",
          "id": "article_date",
          "label": "Article Date",
          "default": "04.01.25"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title",
          "default": "Step Inside our new la store with renegade"
        },
        {
          "type": "text",
          "id": "card_subtitle",
          "label": "Card Subtitle",
          "default": "3118  W Sunset Blvd"
        },
        {
          "type": "url",
          "id": "card_link",
          "label": "Card Link"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "presets": [
    {
      "name": "Blog",
      "category": "Custom",
       "blocks": [
       { "type": "blog_card" },
        { "type": "blog_card_2" },
        { "type": "blog_card_3" }
      ]      
    }
  ]
}
{% endschema %}
