{{ 'blog-grid.css' | asset_url | stylesheet_tag }}
<script src="{{ 'blog-grid.js' | asset_url }}" defer></script>

<section
  class="color-{{ section.settings.color_scheme }} blog-section-container"
  style="padding: {{ settings.sections_spacing }}px {{ settings.side_space }}px;"
>
  <div class="w-full uppercase">
    <div class="divclass flex flex-col md:flex-row md:items-start gap-10">
      <div class="blog-sidebar">
        <p class="font-medium blog_highlight-tag tracking-tight blog-highlight-text">
          {{ section.settings.top_text }}
        </p>
        <p class="blog_heading-highlight tracking-tight blog-main-heading">
          {{ section.settings.main_heading }}
        </p>
      </div>

      {% comment %} <div class="blog-grid w-full " id="blog-posts-container"> {% endcomment %}
      {% assign default_blog_handle = 'news' %}
      {% assign blog_handle = section.settings.selected_blog | default: default_blog_handle %}
      {% assign blog = blogs[blog_handle] %}
      {% assign articles_limit = section.settings.articles_per_page %}
      {% assign articles_count = blog.articles.size %}
      {% comment %} rendering blog design {% endcomment %}
      {% render 'article-card' %}
    </div>

    {% assign remaining_articles = articles_count | minus: articles_limit %}
    {% if remaining_articles > 0 %}
      <div class="load-more-btn-fb-container">
        <button id="load-more-btn-fb" class="load-more-btn-fb">
          <span class="load-more-text-container">
            <span class="load-more-text load-more-text-margin">LOAD MORE &nbsp;</span>
            <span class="load-more-text-hover">&nbsp;LOAD MORE</span>
          </span>
        </button>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Blog Posts",
  "disabled_on": {
    "groups": ["footer", "header"]
  },
  "settings": [
    {
      "type": "range",
      "id": "articles_per_page",
      "min": 0,
      "max": 12,
      "step": 1,
      "label": "Number of blog articles to display initially",
      "default": 3
    },
    {
      "type": "blog",
      "id": "selected_blog",
      "label": "Select Blog"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color Scheme"
    },
    {
      "type": "text",
      "id": "top_text",
      "label": "Top Text",
      "default": "New This Week"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "[YOUR_BRAND] Newsletter"
    }
  ]
}
{% endschema %}
