<script src="{{ 'blog-edit.js' | asset_url }}" defer></script>
<style>
 :root {
    --font-heading-family: {{ settings.type_heading_font.family }}, sans-serif;
    --font-body-family: {{ settings.type_body_font.family }}, sans-serif;
  }
  #animated-heading {
    font-family: var(--font-heading-family);
  }
  .letter {
    display: inline-block;
    opacity: 0;
    transform: translateX(100vw);
    animation: slideInLetter 0.8s forwards;
  }
  @keyframes slideInLetter {
    0% {
      opacity: 0;
      transform: translateX(100vw);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .date-tag, .card-excerpt {
    font-family: var(--font-body-family);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up {
  animation: fadeUp 2.0s ease-out forwards;
}
  #parallax-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
    transition: transform 0.1s ease-out;
    will-change: transform;
}
@media (max-width: 768px) {
  #parallax-image {
    width: 100% !important;       
    margin-left: 7% !important;    
    margin-top: 0px !important;   
    height: 300px !important; 
  }
  #arrow-svg{
    margin-top:0px !important;
  }
}
@media (max-width: 767px) {
  .card-excerpt {
     margin-left:25px !important;
  }
  .overlay-content{
    margin-top:20px !important; 
  }
  #animated-heading {
    font-size: 2rem !important; 
    width: 70vw !important; 
  }

  .hero-image {
    height: 500px !important; 
  }
  .second_section{
    margin-top:13px !important;
  }

   #arrow-svg1{
     height: 38px !important;
      width: 44px !important;
    margin-left:0px !important;
     margin-top:6px !important;
  }
    .main_heading{
      margin-left:-206px !important;
    }
}
  ::selection {
  color: #f97316;
}
  .hero-image {
    object-fit: cover;
  }
  #animated-heading {
    font-family: var(--font-heading-family);
  }
  .letter {
    display: inline-block;
    opacity: 0;
    transform: translateX(100vw);
    animation: slideInLetter 0.8s forwards;
  }
  .card-excerpt{
     margin-left:150px;
  }
  .overlay-content {
  color: var(--header_text);
}

#section-2-article {
  color: var(--text);
}
  #section-2-header{
   color: var(--text);
  }

.arrow-svg1 {
  fill: none;
  margin-left: -38px;
  flex-shrink: 0;
  stroke: var(--header_text);
}

</style>

<section class="color-{{ section.settings.color_scheme }} overflow-hidden flex relative">
  {% if section.settings.image != blank %}
    <img
      class="hero-image absolute md:h-full w-full z-1 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500"
      src="{{ section.settings.image | image_url: width: 2000 }}"
      alt="Hero Background"
      height="80%"
      width="100%"
      tabindex="0"
    />
  {% else %}
    {{ 'image' | placeholder_svg_tag: 'hero-image absolute md:h-[500px] w-full' }}
  {% endif %}
  <div class="w-full max-w-7xl flex flex-col text-left" style='margin-left:13px;'>
    <div class="overlay-content max-w-7xl relative z-2 flex flex-col" style="margin-top:55px;">
      <div class="top-18 left-20 text-xl sm:text-2xl md:text-3xl date-tag">
        {{ section.settings.date_text }}
      </div>

      <div class="flex flex-row">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="arrow-svg1"
          id="arrow-svg1"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          style="fill:none;margin-top: 13px;margin-right: 187px;margin-left: 20px;height: 184px;"
        >
          <path d="M1.1875 7.7334H7.6599M7.6599 7.7334V1.261M7.6599 7.7334L1.1875 1.261"></path>
        </svg>
        <div class="main_heading top-11 left-3 md:left-25 z-10 flex flex-col items-start text-left" style="
    margin-left: -253px;
">
          <div
            class="text-4xl sm:text-6xl md:text-[10.5rem] font-medium uppercase leading-tight sm:leading-none break-words md:w-[40vw] sm:w-[100px] w-[50vw]"
            style="width:730px; color: {{ section.settings.color_scheme }}"
            id="animated-heading"
          >
            {{ section.settings.full_text }}
          </div>
        </div>
      </div>
      <p class="md:bottom-2 md:right-100 text-xl sm:text-2xl md:text-3xl uppercase top-60 card-excerpt md:top-180">
        {{ section.settings.excerpt_text }}
      </p>
    </div>
  </div>
</section>
<section class="color-{{ section.settings.color_scheme }}">
 <hr class="w-screen max-w-none mx-auto"
     style="border-top: 2px solid {{ section.settings.color_scheme }}; margin-bottom:14px; margin-left:13px;" />


  <div class="uppercase text-5xl font-medium tracking-tight color-{{ section.settings.color_scheme }}" style="margin-left:13px;" id="section-2-header">{{ section.settings.header }}</div>
  <hr class="w-screen max-w-none mx-auto"
     style="border-top: 2px solid {{ section.settings.color_scheme }}; margin-bottom:14px; margin-left:13px;" />


   <div class="flex flex-row">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="arrow-svg1 w-9 h-8 md:mt-[20px] mt-[10px] sm:w-16 sm:h-18 md:w-20 md:h-44 lg:w-44 lg:h-28"
          viewBox="0 0 14 14"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          style="fill:none; margin-top:7px; margin-left:-6px;"
        >
           <path d="M7.47241 7.47241L7.47241 1.00001M7.47241 1.00001L1.00001 1.00001M7.47241 1.00001L1.00001 7.47241" stroke-linejoin="round"/>
        </svg>
         <div class="w-1/2 mx-auto text-center text-left color-{{ section.settings.color_scheme }}" id="section-2-article">{{ section.settings.article }}</div>
          </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const image = document.getElementById('parallax-image');
    const section = image.closest('section');

    function getMaxTranslate() {
      if(window.innerWidth <= 768) {
        return 150; 
      } else {
        return 300;  
      }
    }

    let maxTranslate = getMaxTranslate();
    image.style.transform = `translateY(${maxTranslate}px)`;

    window.addEventListener('resize', () => {
      maxTranslate = getMaxTranslate();
      image.style.transform = `translateY(${maxTranslate}px)`;
    });

    window.addEventListener('scroll', () => {
      const scrollTop = window.scrollY || window.pageYOffset;
      const sectionTop = section.offsetTop;

      if (scrollTop > sectionTop) {
        // Scroll down - image slides up
        image.style.transform = `translateY(0)`;
      } else {
        image.style.transform = `translateY(${maxTranslate}px)`;
      }
    });
  });
</script>
{% schema %}
{
  "name": "Blog-Article",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color Scheme"
    },
    {
      "type": "text",
      "id": "full_text",
      "label": "Full Heading Text",
      "default": "The Bandit x ASICS Novablast 5 Campaign"
    },
    {
      "type": "text",
      "id": "date_text",
      "label": "Date",
      "default": "04.01.25"
    },
    {
      "type": "image_picker",
      "id": "article_images",
      "label": "Article Images",
      "info": "Upload an image for each article."
    },
    {
      "type": "text",
      "id":"header",
      "label": "Header of Blog Article",
      "default":"Inspired by the work of Japanese American artist, Isamu Noguchi."
    },
    {
      "type":"text",
      "id":"article",
      "label":"Article text",
      "default":"Drawing from Japanese American artist Isamu Noguchi’s innovative and distinct use of light, translucency, and sculptural forms, the footwear design works to seamlessly blend art, culture, and performance.The shoe’s knitted upper features a dynamic play of sheer and opaque textures, accentuated with translucent, no-sew appliqué using the abstract shape of the Current. A transparent infographic tag at the laces and sculptural interpretations of eyelet shapes, laces, and the no-sew heel detail all pay homage to Noguchi’s bold yet soft design language, which is characterized by subtle curves and organic forms."
    }
  ],
  "presets": [
    {
      "name": "Blog Article",
      "category": "Custom"
    }
  ]
}
{% endschema %}
