{{ 'section-footer.css' | asset_url | stylesheet_tag }}

  <footer class="color-{{ section.settings.color_scheme }}"
    style="
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    ">

    <div class="scroll-distance">
      <p>YOU HAVE SCROLLED</p>
      <div><span id="scrollValueFooter">0.000</span> KM</div>
    </div>

    <div class="support-section">
      <h4>{{ section.settings.support_heading }}</h4>
      <p>{{ section.settings.support_text }}</p>
      <a href="mailto:{{ section.settings.email_address }}" class="email-link">{{ section.settings.email_link_text }}</a>
    </div>

    {% if section.settings.show_social_icons %}
      <div class="footer-column">
        <div class="social-icons">
          {%- if settings.social_facebook_link != blank -%}
                    <a
                      href="{{ settings.social_facebook_link }}"
                      class="social-icon"
                      style="color: {{ section.settings.menu_item_color }};"
                    >
                      {{
                        'icon-facebook.svg'
                        | inline_asset_content
                        | replace: '<svg', '<svg style="height: 30px; fill: '
                        | append: settings.social_icon_color
                        | remove: '_'
                      }}
                    </a>
                  {%- endif -%}
           {%- if settings.social_instagram_link != blank -%}
                    <a
                      href="{{ settings.social_instagram_link }}"
                      class="social-icon"
                      aria-label="{{ 'general.social.links.instagram' | t }}"
                      style="color: {{ section.settings.menu_item_color }};"
                    >
                      {{
                        'icon-instagram.svg'
                        | inline_asset_content
                        | replace: '<svg', '<svg style="height: 30px; fill: '
                        | append: settings.social_icon_color
                        | remove: '_'
                      }}
                    </a>
                  {%- endif -%}
          {%- if settings.social_youtube_link != blank -%}
                    <a
                      href="{{ settings.social_youtube_link }}"
                      class="social-icon"
                      aria-label="{{ 'general.social.links.youtube' | t }}"
                      style="color: {{ section.settings.menu_item_color }};"
                    >
                      {{
                        'icon-youtube.svg'
                        | inline_asset_content
                        | replace: '<svg', '<svg style="height: 25px; fill: '
                        | append: settings.social_icon_color
                        | remove: '_'
                      }}
                    </a>
                  {%- endif -%}
          {%- if settings.social_tiktok_link != blank -%}
                    <a
                      href="{{ settings.social_tiktok_link }}"
                      class="social-icon"
                      aria-label="{{ 'general.social.links.tiktok' | t }}"
                      style="color: {{ section.settings.menu_item_color }};"
                    >
                      {{
                        'icon-tiktok.svg'
                        | inline_asset_content
                        | replace: '<svg', '<svg style="height: 25px; fill: '
                        | append: settings.social_icon_color
                        | remove: "'"
                      }}
                    </a>
                  {%- endif -%}
          {%- if settings.social_twitter_link != blank -%}
                    <a
                      href="{{ settings.social_twitter_link }}"
                      class="social-icon"
                      aria-label="{{ 'general.social.links.twitter' | t }}"
                      style="color: {{ section.settings.menu_item_color }};"
                    >
                      {{
                        'icon-twitter.svg'
                        | inline_asset_content
                        | replace: '<svg', '<svg style="height: 25px; fill: '
                        | append: settings.social_icon_color
                        | remove: "'"
                      }}
                    </a>
                  {%- endif -%}
           {%- if settings.social_pinterest_link != blank -%}
                    <a
                      href="{{ settings.social_pinterest_link }}"
                      class="social-icon"
                      aria-label="{{ 'general.social.links.pinterest' | t }}"
                      style="color: {{ section.settings.menu_item_color }};"
                    >
                      {{
                        'icon-pinterest.svg'
                        | inline_asset_content
                        | replace: '<svg', '<svg style="height: 25px; fill: '
                        | append: settings.social_icon_color
                        | remove: "'"
                      }}
                    </a>
                  {%- endif -%}

            {%- if settings.social_snapchat_link != blank -%}
                    <a
                      href="{{ settings.social_snapchat_link }}"
                      class="social-icon"
                      aria-label="{{ 'general.social.links.snapchat' | t }}"
                      style="color: {{ section.settings.menu_item_color }};"
                    >
                      {{
                        'icon-snapchat.svg'
                        | inline_asset_content
                        | replace: '<svg', '<svg style="height: 25px; fill: '
                        | append: settings.social_icon_color
                        | remove: "'"
                      }}
                    </a>
                  {%- endif -%}
          
           {%- if settings.social_tumblr_link != blank -%}
                    <a
                      href="{{ settings.social_tumblr_link }}"
                      class="social-icon"
                      aria-label="{{ 'general.social.links.tumblr' | t }}"
                      style="color: {{ section.settings.menu_item_color }};"
                    >
                      {{
                        'icon-tumblr.svg'
                        | inline_asset_content
                        | replace: '<svg', '<svg style="height: 25px; fill: '
                        | append: settings.social_icon_color
                        | remove: "'"
                      }}
                    </a>
                  {%- endif -%}
          
           {%- if settings.social_vimeo_link != blank -%}
                    <a
                      href="{{ settings.social_vimeo_link }}"
                      class="social-icon"
                      aria-label="{{ 'general.social.links.vimeo' | t }}"
                      style="color: {{ section.settings.menu_item_color }};"
                    >
                      {{
                        'icon-vimeo.svg'
                        | inline_asset_content
                        | replace: '<svg', '<svg style="height: 25px; fill: '
                        | append: settings.social_icon_color
                        | remove: "'"
                      }}
                    </a>
                  {%- endif -%}
        </div>
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'menu' %}
            <div class="footer-menus" {{ block.shopify_attributes }}>
              <h4 style="font-family: var(--font-heading-family) !important;">{{ block.settings.menu_title }}</h4>
              <ul style="font-family: var(--font-body-family) !important;">
                {% for link in linklists[block.settings.menu_links].links %}
                  <li style="font-family: var(--font-body-family) !important;">
                    <a
                      href="{{ link.url }}"
                      style="font-family: var(--font-body-family) !important; color: {{ section.settings.menu_item_color }};"
                    >
                      {{- link.title -}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endcase %}
      {% endfor %}
    {% endif %}
  </footer>

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }

  .color-{{ section.settings.color_scheme }} {
    color: {{ settings.colors[section.settings.color_scheme].text }};
  }

  .background-{{ section.settings.color_scheme }} {
    background-color: {{ settings.colors[section.settings.color_scheme].background }};
  }
{% endstyle %}

{% javascript %}
document.addEventListener('DOMContentLoaded', () => {
  // Initialize the scroll values on page load
  const headerDistance = document.getElementById('scrollValueHeader');
  const footerDistance = document.getElementById('scrollValueFooter');
  const distanceInKM = (window.scrollY / 1000).toFixed(3);
  if (headerDistance) headerDistance.textContent = distanceInKM;
  if (footerDistance) footerDistance.textContent = distanceInKM;
  
  // Add scroll event listener
  window.addEventListener('scroll', () => {
    const scrollY = window.scrollY;
    const distanceInKM = (scrollY / 1000).toFixed(3);
    const headerDistance = document.getElementById('scrollValueHeader');
    const footerDistance = document.getElementById('scrollValueFooter');
    if (headerDistance) headerDistance.textContent = distanceInKM;
    if (footerDistance) footerDistance.textContent = distanceInKM;
  });
});
{% endjavascript %}

{% schema %}
{
  "name": "Bandit Footer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color Scheme"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top Padding",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 40
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top Margin",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom Margin",
      "default": 0
    },
    {
      "type": "header",
      "content": "Support Section"
    },
    {
      "type": "text",
      "id": "support_heading",
      "label": "Support Heading",
      "default": "NEED SUPPORT?"
    },
    {
      "type": "textarea",
      "id": "support_text",
      "label": "Support Text",
      "default": "We're just an email away. Drop us a line and we'll get back to you within 48 hours for order related inquires."
    },
    {
      "type": "text",
      "id": "email_address",
      "label": "Email Address",
      "default": "abc@gmail.com"
    },
    {
      "type": "text",
      "id": "email_link_text",
      "label": "Email Link Text",
      "default": "OPEN EMAIL →"
    },
    {
      "type": "header",
      "content": "Social Media"
    },
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "Show social media icons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_title",
      "label": "Social Media Title",
      "default": "FOLLOW US"
    },
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu Title",
          "default": "Quick Links"
        },
        {
          "type": "link_list",
          "id": "menu_links",
          "label": "Menu",
          "default": "footer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bandit Footer",
      "category": "Footer"
    }
  ]
}
{% endschema %}
