{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Main Menu"
    },
    {
      "type": "image_picker",
      "id": "dropdown_icon",
      "label": "Dropdown Icon"
    },
    {
      "type": "text",
      "id": "optional_url_1_text",
      "label": "Link 1",
      "default": "Optional URL 1"
    },
    {
      "type": "url",
      "id": "optional_url_1",
      "label": "URL for Link 1",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "optional_url_2_text",
      "label": "Link 2",
      "default": "Optional URL 2"
    },
    {
      "type": "url",
      "id": "optional_url_2",
      "label": "URL for Link 2",
      "default": "/collections/all"
    }
  ]
}
{% endschema %}

<header
  class=" mx-2 top-0 z-50 color-{{ section.settings.color_scheme }} color-{{ section.settings.color_scheme }}-text"
  style="position: static !important;"
>
  <div class="w-full px-4 py-3 flex items-center justify-between bg-[var(--background)]">
    <!-- Left: Logo -->
    <div class="flex items-center space-x-4">
      <a href="/">
        {% if section.settings.logo != blank %}
          <img src="{{ section.settings.logo | image_url }}" width="100%" height="auto" alt="Logo" class="h-22 w-auto">
        {% else %}
          <span class="text-3xl font-semibold">BlackBytte</span>
        {% endif %}
      </a>
    </div>
    <!-- Right: Menu & Actions -->
    <div class="flex items-center justify-end lg:justify-between w-full lg:px-6 mx-auto bg-[var(--header_background] ">
      <!-- Desktop Menu -->
      <nav class="hidden lg:!block w-full text-[var(--header_text)]">
        <ul class="flex space-x-4 ">
          {%- for link in section.settings.menu.links -%}
            <li class="group">
              {% if link.links.size > 0 %}
                <a
                  href="{{ link.url }}"
                  class="cursor-pointer flex items-center py-2 px-4 group "
                >
                  {{ link.title }}
                  {% if section.settings.dropdown_icon != blank %}
                    <img
                      src="{{ section.settings.dropdown_icon | image_url }}"
                      alt="Dropdown Icon"
                      width="100%"
                      height="auto"
                      class="w-12 h-6 object-contain transition-transform duration-300 group-hover:rotate-180"
                    >
                  {% else %}
                    <span class="ml-2 transition-transform duration-300 group-hover:rotate-180">▼</span>
                  {% endif %}
                </a>

                <!-- Desktop Sub-Menu -->
                <div class="absolute left-0 top-full w-screen z-50 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300">
                  <div class="mx-auto bg-white shadow-lg px-4 py-6">
                    <ul class="flex justify-start gap-8">
                      {% for childlink in link.links %}
                        <li>
                          <a
                            href="{{ childlink.url }}"
                            class="block text-gray-800 hover:text-black font-bold text-3xl pb-2"
                          >
                            {{ childlink.title }}
                          </a>
                          {% if childlink.links.size > 0 %}
                            <ul class="mt-2 space-y-1">
                              {% for grandchildlink in childlink.links %}
                                <li>
                                  <a
                                    href="{{ grandchildlink.url }}"
                                    class="block text-xl text-gray-700 underline py-2 hover:text-black"
                                  >
                                    {{ grandchildlink.title }}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% else %}
                <a href="{{ link.url }}" class="py-2 px-4 hover:bg-gray-100 block">
                  {{ link.title }}
                </a>
              {% endif %}
            </li>
          {%- endfor -%}
        </ul>
        <div class="relative">
          <div id="bottom-bar" class="absolute bottom-0 left-0 w-full h-[2px] bg-gray-700">&nbsp;</div>
        </div>
      </nav>

      <!-- Actions -->
      <div class="flex items-center space-x-2 ">
        <!-- Search -->
        <a href="/search" class="text-black hover:text-gray-700" aria-label="Search">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="size-8"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </a>

        <!-- Cart -->
        <a href="/cart" class="flex text-black hover:text-gray-700 " aria-label="Cart">
          CART
          <span class=" ml-1 mt-1 bg-red-600 text-white text-xl w-8 h-8 flex items-center justify-center rounded-full">
            {{ cart.item_count }}
          </span>
        </a>

        <!-- Hamburger Menu -->
        <button id="hamburger-menu" class="lg:hidden text-black hover:text-gray-700" aria-label="Menu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="size-8"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div
    id="mobile-menu"
    class="hidden lg:hidden  border-t border-gray-200 shadow-lg w-[90vw] fixed top-[-1px] right-0 z-50  bg-[var(--background)] text-[var(--header_text)] flex"
  >
    <div class="h-[100vh] w-10 bg-black text-white flex flex-col gap-4 items-center justify-center">
      <span class="transform -rotate-90 origin-center text-2xl tracking-widest whitespace-nowrap"> FOLLOW US </span>
    </div>
    <div class="flex flex-1 flex-col justify-between">
      <nav class="flex flex-col space-y-4 p-6 w-full justify-between">
        <div class="upper-section">
          <div class="flex items-center justify-end mb-8 ">
            <button type="button" class=" bg-black text-white px-2 rounded-xl" aria-label="Close Menu">Close</button>
          </div>
          {% if section.settings.menu.links != blank %}
            {% for link in section.settings.menu.links %}
              <div class="mobile-menu-item">
                <div class="horizontal-line w-full h-1 bg-black my-2">&nbsp;</div>
                <div class="!flex items-center justify-between">
                  <a href="{{ link.url }}" class="block text-3xl text-black hover:underline font-medium py-2">
                    {{ link.title }}
                  </a>
                  {% if link.links.size > 0 %}
                    <button type="button" class="toggle-submenu focus:outline-none">
                      {% if section.settings.dropdown_icon != blank %}
                        <img
                          src="{{ section.settings.dropdown_icon | image_url }}"
                          alt="Dropdown Icon"
                          width="100%"
                          height="auto"
                          class="w-8 h-4 object-contain transition-transform duration-300"
                        >
                      {% else %}
                        <svg
                          class="w-8 h-4 transition-transform duration-300"
                          fill="none"
                          stroke="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                        </svg>
                      {% endif %}
                    </button>
                  {% endif %}
                </div>
                {% if link.links.size > 0 %}
                  <div class="ml-4 mt-2 hidden space-y-2 submenu">
                    {% for childlink in link.links %}
                      <a href="{{ childlink.url }}" class="block text-2xl text-gray-800 hover:text-black">
                        {{ childlink.title }}
                      </a>
                      {% if childlink.links.size > 0 %}
                        <ul class="ml-4 space-y-1">
                          {% for grandchildlink in childlink.links %}
                            <li>
                              <a
                                href="{{ grandchildlink.url }}"
                                class="block text-xl underline text-gray-600 hover:text-black"
                              >
                                {{ grandchildlink.title }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}
          <div class="horizontal-line w-full h-1 bg-black my-2">&nbsp;</div>
        </div>
      </nav>

      <div class="flex flex-col w-full p-6 ">
        <div class="optionalLinks flex flex-col gap-1 mb-4 font-semibold ">
          {% if section.settings.optional_url_1 != blank %}
            <a href="{{ section.settings.optional_url_1 }}" class="hover:underline">
              {{ section.settings.optional_url_1_text }}
            </a>
          {% endif %}

          {% if section.settings.optional_url_2 != blank %}
            <a href="{{ section.settings.optional_url_2 }}" class="hover:underline">
              {{ section.settings.optional_url_2_text }}
            </a>
          {% endif %}

          <a
            href="/account/login"
            class="inline-flex items-center gap-2 bg-black text-white rounded-xl px-2 w-[30%]"
            aria-label="Login"
          >
            LOGIN
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="3.5"
              stroke="currentColor"
              class="size-8 "
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
          </a>
        </div>
        <div class="horizontal-line w-full h-1 bg-black">&nbsp;</div>
        <div id="social-link-container" class="flex flex-wrap items-center justify-between gap-4 m-4">
          {% if settings.social_facebook_link %}
            <a href="{{ settings.social_facebook_link }}" aria-label="Facebook" target="_blank" rel="noopener">
              <svg
                class="h-10 w-10 hover:fill-current hover:text-sky-500"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
              </svg>
            </a>
          {% endif %}

          {% if settings.social_instagram_link %}
            <a href="{{ settings.social_instagram_link }}" aria-label="Instagram" target="_blank" rel="noopener">
              <svg
                class="h-10 w-10 hover:text-pink-500"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" />
              </svg>
            </a>
          {% endif %}

          {% if settings.social_youtube_link %}
            <a href="{{ settings.social_youtube_link }}" aria-label="YouTube" target="_blank" rel="noopener">
              <svg
                class="h-10 w-10 hover:text-red-500"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z" />  <polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02" />
              </svg>
            </a>
          {% endif %}
          {% if settings.social_twitter_link %}
            <a href="{{ settings.social_twitter_link }}" aria-label="Twitter" target="_blank" rel="noopener">
              <svg
                class="h-10 w-10 hover:fill-current hover:text-cyan-500"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z" />
              </svg>
            </a>
          {% endif %}
          {% if settings.social_snapchat_link %}
            <a href="{{ settings.social_snapchat_link }}" aria-label="Snapchat" target="_blank" rel="noopener">
              <svg
                class="h-10 w-10 hover:fill-current hover:text-yellow-500"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M16.882 7.842a4.882 4.882 0 0 0 -9.764 0c0 4.273-.213 6.409-4.118 8.118 2 .882 2 .882 3 3 3 0 4 2 6 2s3-2 6-2c1-2.118 1-2.118 3-3-3.906-1.709-4.118-3.845-4.118-8.118h0zM3 15.961c4-2.118 4-4.118 1-7.118m17 7.118c-4-2.118-4-4.118-1-7.118" />
              </svg>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="horizontal-line w-full h-1 bg-black mb-4">&nbsp;</div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Mobile Menu Toggle
    const hamburgerMenu = document.getElementById('hamburger-menu');
    const mobileMenu = document.getElementById('mobile-menu');
    const closeButton = mobileMenu ? mobileMenu.querySelector('button[aria-label="Close Menu"]') : null;

    // Overlay for the mobile menu
    const overlay = document.createElement('div');
    overlay.className = 'block fixed inset-0 w-[10vw] h-[100vh] bg-white opacity-35 z-40 hidden';
    overlay.id = 'menu-overlay';
    document.body.appendChild(overlay);

    // Toggle mobile menu visibility
    function toggleMobileMenu() {
      if (!mobileMenu) {
        console.warn('Mobile menu not found!');
        return;
      }

      if (overlay.style.display === 'none' || !overlay.style.display) {
        overlay.style.display = 'block';
      } else {
        overlay.style.display = 'none';
      }
      mobileMenu.classList.toggle('hidden');
      mobileMenu.classList.toggle('flex-visible');
      overlay.classList.toggle('hidden');
      document.body.classList.toggle('overflow-hidden');
    }

    if (hamburgerMenu && mobileMenu) {
      hamburgerMenu.addEventListener('click', toggleMobileMenu);
    }

    if (closeButton) {
      closeButton.addEventListener('click', toggleMobileMenu);
    }

    overlay.addEventListener('click', toggleMobileMenu);

    // Submenu Toggle for Mobile
    const submenuToggles = mobileMenu.querySelectorAll('.toggle-submenu');
    submenuToggles.forEach((toggle) => {
      toggle.addEventListener('click', function () {
        const submenu = this.closest('.mobile-menu-item').querySelector('.submenu');
        if (submenu) {
          submenu.classList.toggle('hidden');
          submenu.classList.toggle('block');
        }
      });
    });

    // nav-bottom-bar
    const nav = document.querySelector('nav');
    const navItems = document.querySelectorAll('nav > ul > li');
    const bottomBar = document.getElementById('bottom-bar');
    let activeMenuItem = null;
    let hoverTimeout;

    function updateBottomBar(target) {
      const rect = target.getBoundingClientRect();
      const navRect = nav.getBoundingClientRect();
      bottomBar.style.transition = 'width 0.3s ease, left 0.3s ease';
      bottomBar.style.width = `${rect.width}px`;
      bottomBar.style.left = `${rect.left - navRect.left}px`;
    }

    function resetBottomBar() {
      if (!activeMenuItem) {
        bottomBar.style.transition = 'width 0.3s ease, left 0.3s ease';
        bottomBar.style.width = '100%';
        bottomBar.style.left = '0';
      }
    }

    navItems.forEach((li) => {
      const link = li.querySelector('a');
      const dropdown = li.querySelector('.absolute'); // submenu dropdown

      li.addEventListener('mouseenter', () => {
        clearTimeout(hoverTimeout);
        updateBottomBar(link);
      });

      li.addEventListener('mouseleave', () => {
        hoverTimeout = setTimeout(() => {
          if (!activeMenuItem || activeMenuItem !== li) {
            resetBottomBar();
          }
        }, 100);
      });

      link.addEventListener('click', (e) => {
        const isParentWithDropdown = !!dropdown;
        const isActive = li.classList.contains('active');

        if (isParentWithDropdown) {
          e.preventDefault();
        }

        document.querySelectorAll('nav > ul > li.active').forEach((item) => item.classList.remove('active'));

        if (!isActive) {
          li.classList.add('active');
          activeMenuItem = li;
          updateBottomBar(link);
        } else {
          activeMenuItem = null;
          resetBottomBar();
        }
      });

      if (dropdown) {
        dropdown.addEventListener('mouseenter', () => clearTimeout(hoverTimeout));
        dropdown.addEventListener('mouseleave', () => {
          hoverTimeout = setTimeout(() => {
            if (!activeMenuItem || activeMenuItem !== li) {
              resetBottomBar();
            }
          }, 100);
        });
      }
    });

    nav.addEventListener('mouseleave', () => {
      if (!activeMenuItem) {
        resetBottomBar();
      }
    });

    setTimeout(resetBottomBar, 0);
  });
</script>
