{%- style -%}
    .image-with-text-media-section-{{ section.id }} ::selection {
      /* background: none; */
      color: var(--cr-yellow-2) !important;
    }

    @media screen and (max-width: 750px){
      .image-with-text-button-text, .image-with-text-button-text-hover{
        font-size: 16px !important;
      }
      .image-with-text-heading-size-large{
        font-size: 40px !important;
        line-height: 4rem !important;
      }
       .image-with-text-heading-size-medium {
      font-size: 30px !important;
      line-height: 3rem !important;
    }
      .image-with-text-heading-size-small {
      font-size: 20px !important ;
      line-height: 2rem !important;
    }
      .image-with-text-button{
        font-size: 16px !important;
      }
      .image-with-text-text-content{
    font-size: 20px !important;
        line-height: 2rem !important;
  }

    }
    @media screen and (min-width: 750px) {
      .image-with-text-section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
    @keyframes letterAppear {
      0% {
        transform: translateX(10000%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .letter-animation-container {
      display: inline-block;
      width: 100%;
      /* max-width: 550px; */
      overflow: visible;
      position: relative;
    }
  .image-with-text-text-content{
    font-size: 24px;
  }

    .animated-letter {
      display: inline-block;
      opacity: 0;
      transform: translateX(500%);
      position: relative;
    }

    /* Animation ready states for all blocks */
    .letter-animation {
      opacity: 0;
    }

    .letter-animation.animation-ready {
      opacity: 1;
    }

    .button-animation {
      opacity: 0;
    }

    .button-animation.animation-ready {
      opacity: 1;
    }

    .date-animation {
      opacity: 0;
    }

    .date-animation.animation-ready {
      opacity: 1;
    }

    .text-animation {
      opacity: 0;
    }

    .text-animation.animation-ready {
      opacity: 1;
    }

    /* Non-animated states */
    .no-animation .letter-animation,
    .no-animation .button-animation,
    .no-animation .date-animation,
    .no-animation .text-animation {
      opacity: 1 !important;
    }

  .image-with-text-custom-button-css {
    position: relative;
    display: inline-block;
    padding: 2px 7px;
    border: 1px solid transparent;
    background-color:var(--secondary_button_label);
    color: var(--secondary_button_text_color);
    border-radius: 5px;
    overflow: hidden;
    transition: background-color var(--duration-medium), color var(--duration-medium);
  }

  .image-with-text-custom-button-css:hover,
  .image-with-text-custom-button-css:focus {
    background-color: var(--hovered_secondary_button_label);
    color: var(--hovered_secondary_button_text_color);
    border: 1px solid var(--hovered_secondary_button_text_color);
    outline: none;
    text-decoration: none;
  }

  .image-with-text-button-text-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .image-with-text-button-text {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: transform 0.7s ease;
  }

  .image-with-text-custom-button-css:hover .image-with-text-button-text,
  .image-with-text-custom-button-css:focus .image-with-text-button-text {
    transform: translateX(-100%);
  }

  .image-with-text-button-text-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transform: translateX(100%);
    transition: transform 0.7s ease;
  }

  .image-with-text-custom-button-css:hover .image-with-text-button-text-hover,
  .image-with-text-custom-button-css:focus .image-with-text-button-text-hover {
    transform: translateX(0);
  }

  .image-with-text-custom-button-css:not(:hover):not(:focus) .image-with-text-button-text,
  .image-with-text-custom-button-css:not(:hover):not(:focus) .image-with-text-button-text-hover {
    transition: none;
  }

  .image-with-text-button-arrow {
    margin-left: 24px;
  }
    .image-with-text-media-section-{{ section.id }} {
      height: {{ section.settings.height_mobile }}px;
      min-height: {{ section.settings.height_mobile }}px;
    }

    @media screen and (min-width: 750px) {
      .image-with-text-media-section-{{ section.id }} {
        height: {{ section.settings.height }}px;
        min-height: {{ section.settings.height }}px;
      }
    }

    .image-with-text-heading-size-small {
      font-size: 50px;
      line-height: 4rem;
    }

    @media (min-width: 750px) {
      .image-with-text-heading-size-small {
        font-size: 50px;
        line-height: 4rem;
      }
    }

    .image-with-text-heading-size-medium {
      font-size: 60px;
      line-height: 5rem;
    }

    @media (min-width: 750px) {
      .image-with-text-heading-size-medium {
        font-size: 60px;
        line-height: 5rem;
      }
    }

    .image-with-text-heading-size-large {
      font-size: 70px;
      line-height: 7rem;
    }

    @media (min-width: 750px) {
      .image-with-text-heading-size-large {
        font-size: 70px;
        line-height: 7rem;
      }
    }

    .image-with-text-text-content-wrapper-{{ section.id }} {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: {{ section.settings.horizontal_position }};
      align-items: {{ section.settings.vertical_position }};
    }

    .image-with-text-text-content-container-{{ section.id }} {
      width: 100%;
      max-width: {{ section.settings.content_width }}px;
      padding: {{ section.settings.content_padding }}px {{ section.settings.content_padding | plus: 14 }}px;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    /* .image-with-text-iframe{
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .image-with-text-iframe iframe {
      display: block;
      width: 100%;
      height: 100%;
    }

    .image-with-text-iframe .image-with-text-iframe-overlay {
      position: absolute;
      inset: 0;
      background: black;
      opacity: 1;
      z-index: 999;
      animation-name: fadeOverlay;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }

    @keyframes fade-overlay {
      from { opacity: 1; }
      to   { opacity: 0; }
    } */

    @media (max-width: 749px) {
      .image-with-text-text-content-container-{{ section.id }} {
        max-width: {{ section.settings.content_width_mobile }}px;
        padding: {{ section.settings.content_padding_mobile | plus: 10 }}px;
      }

      .image-with-text-button-arrow {
        margin-left: 0px;
      }
    }

    .image-with-text-button-container {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @media (max-width: 749px) {
      .image-with-text-button-container {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    @media (prefers-reduced-motion: reduce) {
      .animated-letter {
        animation: none !important;
        opacity: 1 !important;
        transform: none !important;
      }

      .button-animation {
        animation: none !important;
        opacity: 1 !important;
        transform: none !important;
      }

      .image-with-text-button-text,
      .image-with-text-button-text-hover {
        transition: none !important;
      }
    }

    /* New styles for dual headings */
    .dual-heading-container {
      width: 100%;
    }

    .dual-heading-top {
      margin-bottom: 20px;
    }

    .dual-heading-bottom {
      margin-top: 20px;
    }

    .content-wrapper-flex {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }

    .content-flex-top {
      justify-content: flex-start;
    }

    .content-flex-bottom {
      justify-content: flex-end;
    }

    .content-flex-center {
      justify-content: center;
    }

    .content-flex-space-between {
      justify-content: space-between;
    }

    .image-with-text-media-overlay-{{ section.id }} {
      position: absolute;
      top: 0;
      left: 0;
      inset: 0;
      background-color: black;
      height: 100%;
      width: 100%;
      opacity: 1;
      z-index: 2;
      /* pointer-events: none; */
      transition: opacity {{ section.settings.overlay_duration | default: 1 }}s ease-out;
      display: block !important;
    }

    .image-with-text-media-container-{{ section.id }} {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 100%;
    }
  .image-with-text-iframe {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
    position: relative;
    z-index: 1;
  }

  .image-with-text-media-section-{{ section.id }}{
    padding: 0px 1vw;
    margin: 10px 0px;
  }

  @media (max-width: 749px) {
    .image-with-text-media-section-{{ section.id }} {
      padding: 0px 8px;
    }
  }
{%- endstyle -%}

{% if section.settings.enabled %}
  <section
    id="ImageWithText-{{ section.id }}"
    class="image-with-text-media-section-{{ section.id }} relative w-full overflow-hidden image-with-text-section-{{ section.id }}-padding"
    role="region"
    aria-label="Image with text section"
  >
    <div class="image-with-text-media-container-{{ section.id }}">
      {% if section.settings.use_video %}
        {% if section.settings.video_source == 'external' and section.settings.video_url != blank %}
          <div
            class="image-with-text-iframe"
            style="margin: {{ section.settings.media_margin }}px;"
          >
            {% if section.settings.video_url.type == 'youtube' %}
              <iframe
                class="w-full h-full object-cover"
                src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?autoplay=1&controls=0&mute=1&loop=1&playlist={{ section.settings.video_url.id }}&playsinline=1&rel=0&enablejsapi=1"
                frameborder="0"
                allow="autoplay; encrypted-media"
                allowfullscreen
                title="Background video"
                aria-label="Background video"
                style="width: 100%; height: 100%; display: block; position: relative; z-index: 1;"
              ></iframe>
            {% elsif section.settings.video_url.type == 'vimeo' %}
              <iframe
                class="w-full h-full object-cover"
                src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?background=1&autoplay=1&loop=1&byline=0&title=0&wmode=opaque"
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen
                allowtransparency="true"
                title="Background video"
                aria-label="Background video"
                loading="lazy"
                data-ready="true"
                data-gtm-yt-inspected-9="true"
                style="width: 100%; height: 100%; min-height: 100%; display: block; position: relative; z-index: 1;"
              ></iframe>
            {% endif %}
          </div>
        {% elsif section.settings.video_source == 'shopify' and section.settings.shopify_video != blank %}
          <div
            class="image-with-text-iframe"
            style="margin: {{ section.settings.media_margin }}px;"
          >
            {{
              section.settings.shopify_video
              | video_tag:
                autoplay: true,
                loop: true,
                muted: true,
                playsinline: true,
                controls: false,
                class: 'w-full h-full object-cover'
            }}
          </div>
        {% endif %}
      {% elsif section.settings.image != blank %}
        <div
          class="image-with-text-iframe"
          style="margin: {{ section.settings.media_margin }}px;"
          role="img"
          aria-label="{{ section.settings.image.alt | escape | default: 'Background image' }}"
        >
          <img
            srcset="
              {% if section.settings.image.width >= 375 %}{{ section.settings.image | image_url: width: 375 }} 375w,{% endif %}
              {% if section.settings.image.width >= 550 %}{{ section.settings.image | image_url: width: 550 }} 550w,{% endif %}
              {% if section.settings.image.width >= 750 %}{{ section.settings.image | image_url: width: 750 }} 750w,{% endif %}
              {% if section.settings.image.width >= 1100 %}{{ section.settings.image | image_url: width: 1100 }} 1100w,{% endif %}
              {% if section.settings.image.width >= 1500 %}{{ section.settings.image | image_url: width: 1500 }} 1500w,{% endif %}
              {% if section.settings.image.width >= 2200 %}{{ section.settings.image | image_url: width: 2200 }} 2200w,{% endif %}
              {{ section.settings.image | image_url }} {{ section.settings.image.width }}w
            "
            sizes="100vw"
            height="auto"
            width="auto"
            src="{{ section.settings.image | image_url: width: 1500 }}"
            alt="{{ section.settings.image.alt | escape | default: 'Background image' }}"
            class="w-full h-full object-cover"
            loading="lazy"
            style="width: 100%; height: 100%; min-height: 100%; display: block; position: relative; z-index: 1;"
          >
        </div>
      {% else %}
        <div
          class="flex bg-gray-400 items-center justify-center w-full h-full"
          style="margin: {{ section.settings.media_margin }}px;"
          role="img"
          aria-label="Placeholder image"
        >
          {{ 'lifestyle-2' | placeholder_svg_tag: 'w-auto h-auto opacity-30' }}
        </div>
      {% endif %}
      <div class="image-with-text-media-overlay-{{ section.id }}"></div>
    </div>
    <div class="absolute inset-0 image-with-text-text-content-wrapper-{{ section.id }}" style="z-index:3;">
      <div
        class="
          image-with-text-text-content-container-{{ section.id }}
          {% if section.settings.text_alignment == 'center' %}text-center{% elsif section.settings.text_alignment == 'right' %}text-right{% else %}text-left{% endif %}
        "
      >
        <div class="content-wrapper-flex content-flex-{{ section.settings.vertical_content_position }}">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'heading' %}
                {% assign heading_class = '' %}
                {% if block.settings.heading_size == 'small' %}
                  {% assign heading_class = 'image-with-text-heading-size-small' %}
                {% elsif block.settings.heading_size == 'medium' %}
                  {% assign heading_class = 'image-with-text-heading-size-medium' %}
                {% elsif block.settings.heading_size == 'large' %}
                  {% assign heading_class = 'image-with-text-heading-size-large' %}
                {% endif %}

                <h2
                  id="Heading-{{ section.id }}-{{ forloop.index }}"
                  class="image-with-text-heading mb-4 {{ heading_class }} {% if section.settings.enable_text_animation %}letter-animation{% endif %}"
                  style="color:{{ block.settings.text_color }}; font-weight: {{ block.settings.font_weight }}; margin-bottom: 20px;"
                >
                  {{ block.settings.heading }}
                </h2>
              {% when 'date' %}
                <div
                  id="TextContent-{{ section.id }}-{{ forloop.index }}"
                  class="image-with-text-date mb-3 {% if section.settings.enable_text_animation %}date-animation{% endif %}"
                  style="color: {{ block.settings.text_color }}; font-weight: {{ block.settings.font_weight }};"
                >
                  {{ block.settings.date }}
                </div>
              {% when 'text' %}
                <div
                  id="TextContent-{{ section.id }}-{{ forloop.index }}"
                  class="image-with-text-text-content mb-6 {% if section.settings.enable_text_animation %}text-animation{% endif %}"
                  style="color: {{ block.settings.text_color }}; font-weight: {{ block.settings.font_weight }};"
                >
                  {% if section.settings.enable_text_animation %}
                    {{ block.settings.text | replace: '<p>', '<p class="letter-animation">' }}
                  {% else %}
                    {{ block.settings.text }}
                  {% endif %}
                </div>
              {% when 'dual_headings' %}
                <div class="dual-heading-container">
                  {% if block.settings.top_heading != blank %}
                    {% assign top_heading_class = '' %}
                    {% if block.settings.top_heading_size == 'small' %}
                      {% assign top_heading_class = 'image-with-text-heading-size-small' %}
                    {% elsif block.settings.top_heading_size == 'medium' %}
                      {% assign top_heading_class = 'image-with-text-heading-size-medium' %}
                    {% elsif block.settings.top_heading_size == 'large' %}
                      {% assign top_heading_class = 'image-with-text-heading-size-large' %}
                    {% endif %}

                    <div class="dual-heading-top {% if block.settings.top_alignment == 'center' %}text-center{% elsif block.settings.top_alignment == 'right' %}text-right{% else %}text-left{% endif %}">
                      <h2
                        id="TopHeading-{{ section.id }}-{{ forloop.index }}"
                        class="image-with-text-heading {{ top_heading_class }} {% if section.settings.enable_text_animation %}letter-animation{% endif %}"
                        style="color:{{ block.settings.top_text_color }}; font-weight: {{ block.settings.top_font_weight }};"
                      >
                        {{ block.settings.top_heading }}
                      </h2>
                    </div>
                  {% endif %}

                  {% if block.settings.bottom_heading != blank %}
                    {% assign bottom_heading_class = '' %}
                    {% if block.settings.bottom_heading_size == 'small' %}
                      {% assign bottom_heading_class = 'image-with-text-heading-size-small' %}
                    {% elsif block.settings.bottom_heading_size == 'medium' %}
                      {% assign bottom_heading_class = 'image-with-text-heading-size-medium' %}
                    {% elsif block.settings.bottom_heading_size == 'large' %}
                      {% assign bottom_heading_class = 'image-with-text-heading-size-large' %}
                    {% endif %}

                    <div class="dual-heading-bottom {% if block.settings.bottom_alignment == 'center' %}text-center{% elsif block.settings.bottom_alignment == 'right' %}text-right{% else %}text-left{% endif %}">
                      <h2
                        id="BottomHeading-{{ section.id }}-{{ forloop.index }}"
                        class="image-with-text-heading {{ bottom_heading_class }} {% if section.settings.enable_text_animation %}letter-animation{% endif %}"
                        style="color:{{ block.settings.bottom_text_color }}; font-weight: {{ block.settings.bottom_font_weight }};"
                      >
                        {{ block.settings.bottom_heading }}
                      </h2>
                    </div>
                  {% endif %}
                </div>
              {% when 'button' %}
                <div class="image-with-text-button-container color-{{ section.settings.color_scheme }} {% if section.settings.text_alignment == 'center' %}text-center{% elsif section.settings.text_alignment == 'right' %}text-right{% else %}text-left{% endif %} {% if section.settings.enable_button_animation %}button-animation{% endif %}">
                  <a
                    href="{{ block.settings.button_link }}"
                    class="image-with-text-custom-button-css"
                    id="Button-{{ section.id }}-{{ forloop.index }}"
                    aria-label="{{ block.settings.button_label | escape }}"
                    role="button"
                    tabindex="0"
                    style="font-weight: {{ block.settings.font_weight }}; overflow: visible;"
                  >
                    <div class="image-with-text-button-text-container color-{{ section.settings.color_scheme }}">
                      <div class="image-with-text-button-text color-{{ section.settings.color_scheme }}">
                        {{ block.settings.button_label | escape }}
                        {% if block.settings.show_button_arrow %}
                          <span class="image-with-text-button-arrow" aria-hidden="true">
                            {% comment %}
                              <svg
                                width="28"
                                height="36"
                                viewBox="0 0 38 36"
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-5 h-5"
                              >
                                <path fill="currentColor" d="M26.79,9.21A35.06,35.06,0,0,0,37,16.2v3.66a35.34,35.34,0,0,0-10.21,7A12.84,12.84,0,0,0,23.21,36H17.56q0-6.22,3-10a15.4,15.4,0,0,1,8.06-5.2V20.6H0V15.43H28.63v-.3A15.16,15.16,0,0,1,20.57,10q-3-3.77-3-10h5.65a13,13,0,0,0,.87,5A12.79,12.79,0,0,0,26.79,9.21Z"></path>
                              </svg>
                            {% endcomment %}
                            {% comment %}
                              <img
                                src="{{ "arrow-down.png" | asset_url }}"
                                alt="Dropdown Icon"
                                class="w-12 h-6 object-contain transition-transform duration-300 group-hover:-rotate-90 md:w-8 md:h-4"
                                width="auto"
                                height="auto"
                                aria-hidden="true"
                              >
                            {% endcomment %}
                            <div
                              class="object-contain transition-transform duration-300 group-hover:-rotate-90 collection-arrow-img"
                              alt="Dropdown Icon"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="image-with-text-arrow-svg w-5 h-5 object-contain transition-transform duration-200 ease-in-out group-hover:-rotate-90 mx-1"
                                fill="none"
                                viewBox="0 0 9 9"
                                stroke-width="1.5"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                aria-hidden="true"
                              >
                                <path d="M1.1875 7.7334H7.6599M7.6599 7.7334V1.261M7.6599 7.7334L1.1875 1.261"/>
                              </svg>
                            </div>
                          </span>
                        {% endif %}
                      </div>
                      <div class="image-with-text-button-text-hover">
                        {{ block.settings.button_label | escape }}
                        {% if block.settings.show_button_arrow %}
                          <span class="image-with-text-button-arrow" aria-hidden="true">
                            {% comment %}
                              <svg
                                width="28"
                                height="36"
                                viewBox="0 0 38 36"
                                xmlns="http://www.w3.org/2000/svg"
                                class="w-5 h-5"
                              >
                                <path fill="currentColor" d="M26.79,9.21A35.06,35.06,0,0,0,37,16.2v3.66a35.34,35.34,0,0,0-10.21,7A12.84,12.84,0,0,0,23.21,36H17.56q0-6.22,3-10a15.4,15.4,0,0,1,8.06-5.2V20.6H0V15.43H28.63v-.3A15.16,15.16,0,0,1,20.57,10q-3-3.77-3-10h5.65a13,13,0,0,0,.87,5A12.79,12.79,0,0,0,26.79,9.21Z"></path>
                              </svg>
                            {% endcomment %}
                            {% comment %}
                              <img
                                src="{{ "arrow-down.png" | asset_url }}"
                                alt="Dropdown Icon"
                                class="w-12 h-6 object-contain transition-transform duration-300 group-hover:-rotate-90"
                                width="100%"
                                height="auto"
                                aria-hidden="true"
                                style="filter: invert(1) brightness(2);"
                              >
                            {% endcomment %}
                            <div
                              class="object-contain transition-transform duration-300 group-hover:-rotate-90 collection-arrow-img"
                              alt="Dropdown Icon"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="image-with-text-arrow-svg w-5 h-5 object-contain transition-transform duration-200 ease-in-out group-hover:-rotate-90 mx-1"
                                fill="none"
                                viewBox="0 0 9 9"
                                stroke-width="1.5"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                aria-hidden="true"
                              >
                                <path d="M1.1875 7.7334H7.6599M7.6599 7.7334V1.261M7.6599 7.7334L1.1875 1.261"/>
                              </svg>
                            </div>
                          </span>
                        {% endif %}
                      </div>
                    </div>
                  </a>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

<script>

window.addEventListener('load', function() {
    const overlay = document.querySelector('.image-with-text-media-overlay-{{ section.id }}');
    if (!overlay) return;
    setTimeout(() => {
      overlay.style.opacity = '0';
      overlay.addEventListener('transitionend', () => overlay.remove());
    }, {{ section.settings.overlay_duration | times: 1000 | default: 1000 }});
  });

document.addEventListener('DOMContentLoaded', function() {
const buttonAnimationDelay = {{ section.settings.button_animation_delay }};

const styleElement = document.createElement('style');
styleElement.textContent = `
@keyframes letterAppear {
  0% {
    transform: translateX(10000%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes buttonAppear {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.button-animation.animated {
  animation: buttonAppear 0.8s forwards;
  animation-delay: ${buttonAnimationDelay}s; 
}
`;
document.head.appendChild(styleElement);

const prefersReducedMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches;

// Set initial states based on animation settings
const sectionElement = document.querySelector('.image-with-text-media-section-{{ section.id }}');
if (sectionElement) {
  if (prefersReducedMotion || (!{{ section.settings.enable_text_animation }} && !{{ section.settings.enable_button_animation }})) {
    sectionElement.classList.add('no-animation');
  } else {
    // For elements that should be animated, ensure they start hidden
    {% if section.settings.enable_text_animation %}
    sectionElement.querySelectorAll('.letter-animation, .date-animation, .text-animation').forEach(element => {
      element.style.opacity = '0';
    });
    {% else %}
    sectionElement.querySelectorAll('.letter-animation, .date-animation, .text-animation').forEach(element => {
      element.style.opacity = '1';
    });
    {% endif %}

    {% if section.settings.enable_button_animation %}
    sectionElement.querySelectorAll('.button-animation').forEach(button => {
      button.style.opacity = '0';
    });
    {% else %}
    sectionElement.querySelectorAll('.button-animation').forEach(button => {
      button.style.opacity = '1';
    });
    {% endif %}
  }
}

if (prefersReducedMotion) {
  // For reduced motion, make everything visible immediately
  document.querySelectorAll('.letter-animation, .date-animation, .text-animation, .button-animation').forEach(element => {
    element.style.opacity = '1';
  });
} else {
  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        {% if section.settings.enable_text_animation %}
        // Handle heading animations
        const headingElements = entry.target.querySelectorAll('.letter-animation');
        
        headingElements.forEach(element => {
          const text = element.textContent.trim();
          element.textContent = '';
          element.classList.add('letter-animation-container', 'animation-ready');
          element.setAttribute('aria-label', text);
          element.style.opacity = '1'; // Make container visible

          for (let i = 0; i < text.length; i++) {
            const letterSpan = document.createElement('span');
            letterSpan.classList.add('animated-letter');
            letterSpan.textContent = text[i] === ' ' ? '\u00A0' : text[i]; 
            letterSpan.setAttribute('aria-hidden', 'true'); 

            letterSpan.style.animation = `letterAppear 1s forwards`; 
            letterSpan.style.animationDelay = `${i * 0.07}s`; 
            
            element.appendChild(letterSpan);
          }
        });

        // Handle text content animations
        const textContentElements = entry.target.querySelectorAll('.image-with-text-text-content p.letter-animation');
        
        textContentElements.forEach(element => {
          const text = element.textContent.trim();
          element.textContent = '';
          element.classList.add('letter-animation-container', 'animation-ready');
          element.setAttribute('aria-label', text);
          element.style.opacity = '1'; // Make container visible

          for (let i = 0; i < text.length; i++) {
            const letterSpan = document.createElement('span');
            letterSpan.classList.add('animated-letter');
            letterSpan.textContent = text[i] === ' ' ? '\u00A0' : text[i]; 
            letterSpan.setAttribute('aria-hidden', 'true'); 

            letterSpan.style.animation = `letterAppear 1s forwards`; 
            letterSpan.style.animationDelay = `${i * 0.07}s`; 
            
            element.appendChild(letterSpan);
          }
        });

        // Handle date animations
        const dateElements = entry.target.querySelectorAll('.date-animation');
        dateElements.forEach((element, index) => {
          element.classList.add('animation-ready');
          element.style.opacity = '1';
          element.style.animation = 'buttonAppear 0.8s forwards';
          element.style.animationDelay = `${index * 0.2}s`;
        });

        // Handle text block animations
        const textElements = entry.target.querySelectorAll('.text-animation');
        textElements.forEach((element, index) => {
          element.classList.add('animation-ready');
          element.style.opacity = '1';
          element.style.animation = 'buttonAppear 0.8s forwards';
          element.style.animationDelay = `${index * 0.3}s`;
        });
        {% else %}
        // If text animation is disabled, make text visible immediately
        const textElements = entry.target.querySelectorAll('.letter-animation, .date-animation, .text-animation');
        textElements.forEach(element => {
          element.style.opacity = '1';
        });
        {% endif %}

        {% if section.settings.enable_button_animation %}
        const buttons = entry.target.querySelectorAll('.button-animation');
        buttons.forEach(button => {
          button.classList.add('animation-ready');
          setTimeout(() => {
            button.classList.add('animated');
          }, 100);
        });
        {% else %}
        const buttons = entry.target.querySelectorAll('.button-animation');
        buttons.forEach(button => {
          button.style.opacity = '1';
        });
        {% endif %}

        observer.unobserve(entry.target);
      }
    });
  }, {
    root: null, 
    rootMargin: '0px', 
    threshold: 0.1 
  });

  document.querySelectorAll('.image-with-text-media-section-{{ section.id }}').forEach(section => {
    observer.observe(section);
  });
}

const buttons = document.querySelectorAll('.image-with-text-custom-button-css');
buttons.forEach(button => {
button.addEventListener('keydown', function(event) {
  if (event.key === 'Enter' || event.key === ' ') {
    event.preventDefault();
    this.click();
  }
});
});
});
</script>

{% schema %}
{
  "name": "Image with Text",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Enable section",
      "default": true
    },
    {
      "type": "header",
      "content": "Media Settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "use_video",
      "label": "Use video instead of image",
      "default": false
    },
    {
      "type": "select",
      "id": "video_source",
      "label": "Video source",
      "options": [
        {
          "value": "external",
          "label": "YouTube/Vimeo"
        },
        {
          "value": "shopify",
          "label": "Shopify video"
        }
      ],
      "default": "external"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "YouTube/Vimeo URL",
      "accept": ["youtube", "vimeo"],
      "info": "YouTube or Vimeo URL"
    },
    {
      "type": "video",
      "id": "shopify_video",
      "label": "Shopify video",
      "info": "Upload video directly to Shopify"
    },
    {
      "type": "range",
      "id": "media_margin",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Media margins",
      "default": 0,
      "info": "Adds margin to all sides of the media"
    },
    {
      "type": "header",
      "content": "Animation Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_text_animation",
      "label": "Enable text animation",
      "default": false,
      "info": "Animate text with letter-by-letter appearance effect"
    },
    {
      "type": "checkbox",
      "id": "enable_button_animation",
      "label": "Enable button animation",
      "default": false,
      "info": "Animate button with slide-up effect"
    },
    {
      "type": "range",
      "id": "button_animation_delay",
      "min": 0.5,
      "max": 10.0,
      "step": 0.1,
      "unit": "s",
      "label": "Button animation delay",
      "default": 1.5,
      "info": "Time to wait before showing the button animation"
    },
    {
      "type": "range",
      "id": "overlay_duration",
      "min": 0.5,
      "max": 10,
      "step": 0.1,
      "unit": "s",
      "label": "Overlay fade duration",
      "default": 2.5,
      "info": "How long the black overlay stays before fading out (in seconds)"
    },
    {
      "type": "header",
      "content": "Content Positioning"
    },
    {
      "type": "select",
      "id": "horizontal_position",
      "label": "Horizontal position",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "vertical_content_position",
      "label": "Content vertical layout",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "space-between",
          "label": "Space between"
        }
      ],
      "default": "center",
      "info": "Controls how the content blocks are vertically arranged"
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 200,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Content width (desktop)",
      "default": 600
    },
    {
      "type": "range",
      "id": "content_width_mobile",
      "min": 50,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Content width (mobile)",
      "default": 300
    },
    {
      "type": "range",
      "id": "content_padding",
      "min": 0,
      "max": 60,
      "step": 5,
      "unit": "px",
      "label": "Content padding",
      "default": 20
    },
    {
      "type": "range",
      "id": "content_padding_mobile",
      "min": 0,
      "max": 60,
      "step": 5,
      "unit": "px",
      "label": "Content padding (mobile)",
      "default": 5
    },
    {
      "type": "header",
      "content": "Section Size"
    },
    {
      "type": "range",
      "id": "height",
      "min": 300,
      "max": 800,
      "step": 50,
      "unit": "px",
      "label": "Section height (desktop)",
      "default": 750
    },
    {
      "type": "range",
      "id": "height_mobile",
      "min": 200,
      "max": 600,
      "step": 50,
      "unit": "px",
      "label": "Section height (mobile)",
      "default": 600
    }
  ],
  "blocks": [
    {
      "type": "date",
      "name": "Date",
      "settings": [
        {
          "type": "text",
          "id": "date",
          "label": "Date"
        },
        {
          "type": "select",
          "id": "font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "400",
              "label": "Regular (400)"
            },
            {
              "value": "500",
              "label": "Medium (500)"
            },
            {
              "value": "900",
              "label": "Black (900)"
            }
          ],
          "default": "500"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#FFFFFF"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "HEADING"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "large"
        },
        {
          "type": "select",
          "id": "font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "400",
              "label": "Regular (400)"
            },
            {
              "value": "500",
              "label": "Medium (500)"
            },
            {
              "value": "900",
              "label": "Black (900)"
            }
          ],
          "default": "500"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#FFFFFF"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Add your description or promotional text here to accompany your featured image or video.</p>"
        },
        {
          "type": "select",
          "id": "font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "400",
              "label": "Regular (400)"
            },
            {
              "value": "500",
              "label": "Medium (500)"
            },
            {
              "value": "900",
              "label": "Black (900)"
            }
          ],
          "default": "500"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#FFFFFF"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "EXPLORE NOW"
        },
        {
          "type": "checkbox",
          "id": "show_button_arrow",
          "label": "Show arrow in button",
          "default": true
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "400",
              "label": "Regular (400)"
            },
            {
              "value": "500",
              "label": "Medium (500)"
            },
            {
              "value": "900",
              "label": "Bold (700)"
            }
          ],
          "default": "500"
        }
      ]
    },
    {
      "type": "dual_headings",
      "name": "Dual Headings",
      "settings": [
        {
          "type": "text",
          "id": "top_heading",
          "label": "Top heading",
          "default": "TOP HEADING"
        },
        {
          "type": "select",
          "id": "top_heading_size",
          "label": "Top heading size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium"
        },
        {
          "type": "select",
          "id": "top_font_weight",
          "label": "Top heading font weight",
          "options": [
            {
              "value": "400",
              "label": "Regular (400)"
            },
            {
              "value": "500",
              "label": "Medium (500)"
            },
            {
              "value": "900",
              "label": "Black (900)"
            }
          ],
          "default": "500"
        },
        {
          "type": "select",
          "id": "top_alignment",
          "label": "Top heading alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "color",
          "id": "top_text_color",
          "label": "Top heading color",
          "default": "#FFFFFF"
        },
        {
          "type": "text",
          "id": "bottom_heading",
          "label": "Bottom heading",
          "default": "BOTTOM HEADING"
        },
        {
          "type": "select",
          "id": "bottom_heading_size",
          "label": "Bottom heading size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium"
        },
        {
          "type": "select",
          "id": "bottom_font_weight",
          "label": "Bottom heading font weight",
          "options": [
            {
              "value": "400",
              "label": "Regular (400)"
            },
            {
              "value": "500",
              "label": "Medium (500)"
            },
            {
              "value": "900",
              "label": "Black (900)"
            }
          ],
          "default": "500"
        },
        {
          "type": "select",
          "id": "bottom_alignment",
          "label": "Bottom heading alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "color",
          "id": "bottom_text_color",
          "label": "Bottom heading color",
          "default": "#FFFFFF"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Text",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "font_weight": "500"
          }
        },
        {
          "type": "button"
        }
      ],
      "settings": {
        "horizontal_position": "center",
        "vertical_content_position": "center",
        "text_alignment": "center",
        "enable_text_animation": false,
        "enable_button_animation": false,
        "button_animation_delay": 1.5
      }
    }
  ]
}
{% endschema %}
