{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
{{ 'scroll-animations.css' | asset_url | stylesheet_tag }}
{{ 'main-list-collections.css' | asset_url | stylesheet_tag }}

<script src="{{ 'scroll-animations.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main-list-collections.js' | asset_url }}" defer="defer"></script>

<div
  class="!p-0 py-16"
  style="background-color: var(--background);"
>
  <div
    class="breadcrumb-collections-list border-b mb-10 w-[95vw] flex items-center"
    style="background-color: var(--background); border-color: var(--border); height: var(--space-7xl); margin-bottom: var(--space-lg);"
  >
    <h1 class="uppercase !font-light breadcrumb-text-size" style="color: var(--text);">Shop</h1>
    <span class="mx-2" style="color: var(--text);">/</span>
    <h1 class="breadcrumb-text-size !font-light uppercase" style="color: var(--text);">
      {{ section.settings.title | upcase }}
    </h1>
  </div>
  {%- comment -%}
    <h1
      class="title title--primary inline-richtext mb-12 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
      style="color: {{ section.settings.text_color }};"
    >
      &nbsp;{{ section.settings.title }}
    </h1>
  {%- endcomment -%}

  <ul class="collection-list collection-grid-animated scroll-fade-stagger flex flex-wrap " role="list">
    {%- for block in section.blocks -%}
      <li
        class="collection-list__item collection-card-item scroll-fade-trigger scroll-fade-up {% if block.type == 'media' and block.settings.span_two_columns %}md:col-span-2{% endif %}"
        data-animation-index="{{ forloop.index0 }}"
        {% if block.type == 'media' and block.settings.span_two_columns %}
          data-span-two="true"
        {% endif %}
        {{ block.shopify_attributes }}
      >
        {% if block.type == 'media' %}
          {% if block.settings.media_display_type == 'video' %}
            {% if block.settings.video_url != blank or block.settings.video != blank %}
              {% if block.settings.video_url contains 'youtube.com' or block.settings.video_url contains 'youtu.be' %}
                {% if block.settings.video_url contains 'watch?v=' %}
                  {% assign video_id = block.settings.video_url | split: 'watch?v=' | last | split: '&' | first %}
                {% elsif block.settings.video_url contains 'youtu.be/' %}
                  {% assign video_id = block.settings.video_url | split: 'youtu.be/' | last %}
                {% endif %}
                <div class="video-container relative w-full h-full">
                  <iframe
                    data-src="https://www.youtube.com/embed/{{ video_id }}?autoplay=1&mute=1&loop=1&playlist={{ video_id }}&controls=0"
                    class="absolute inset-0 w-full h-full lazy-iframe"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                  <div class="lazy-loader"></div>
                </div>
              {% elsif block.settings.video != blank %}
                <div class="video-container relative aspect-video w-full">
                  {{
                    block.settings.video
                    | video_tag: autoplay: true, loop: true, muted: true, controls: true, class: 'w-full h-full '
                  }}
                </div>
              {% endif %}
            {% elsif block.settings.image != blank %}
              <div class="image-container relative aspect-video w-full">
                <img
                  data-srcset="
                    {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if block.settings.image.width >= 1000 -%}{{ block.settings.image | image_url: width: 1000 }} 1000w,{%- endif -%}
                    {%- if block.settings.image.width >= 1200 -%}{{ block.settings.image | image_url: width: 1200 }} 1200w,{%- endif -%}
                    {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {%- if block.settings.image.width >= 1800 -%}{{ block.settings.image | image_url: width: 1800 }} 1800w,{%- endif -%}
                  "
                  data-src="{{ block.settings.image | image_url: width: 1200 }}"
                  src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                  class="w-full  lazy-image"
                  loading="lazy"
                  width="100"
                  height="100"
                  data-sizes="
                    (min-width: 990px) {% if block.settings.span_two_columns %}66vw{% else %}33vw{% endif %},
                    (min-width: 750px) {% if block.settings.span_two_columns %}50vw{% else %}33vw{% endif %},
                    100vw
                  "
                  alt="{{ block.settings.image.alt | escape }}"
                >
                <div class="lazy-loader"></div>
              </div>
            {% else %}
              <!-- Media block with no content - show placeholder image only -->
              <div class="image-container relative aspect-video w-full">
                <img
                  src="{{ 'defaultproduct.svg' | asset_url }}"
                  alt="Default Product"
                  class="w-full h-full default-product-img {% if block.settings.span_two_columns %}{% else %}{% endif %}"
                  loading="lazy"
                  width="100"
                  height="100"
                >
              </div>
            {% endif %}
          {% else %}
            {% if block.settings.image != blank %}
              <div class="image-container relative aspect-video w-full">
                <img
                  data-srcset="
                    {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if block.settings.image.width >= 1000 -%}{{ block.settings.image | image_url: width: 1000 }} 1000w,{%- endif -%}
                    {%- if block.settings.image.width >= 1200 -%}{{ block.settings.image | image_url: width: 1200 }} 1200w,{%- endif -%}
                    {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {%- if block.settings.image.width >= 1800 -%}{{ block.settings.image | image_url: width: 1800 }} 1800w,{%- endif -%}
                  "
                  data-src="{{ block.settings.image | image_url: width: 1200 }}"
                  src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                  class="w-full  lazy-image"
                  loading="lazy"
                  width="100"
                  height="100"
                  data-sizes="
                    (min-width: 990px) {% if block.settings.span_two_columns %}66vw{% else %}33vw{% endif %},
                    (min-width: 750px) {% if block.settings.span_two_columns %}50vw{% else %}33vw{% endif %},
                    100vw
                  "
                  alt="{{ block.settings.image.alt | escape }}"
                >
                <div class="lazy-loader"></div>
              </div>
            {% elsif block.settings.video_url != blank or block.settings.video != blank %}
              {% if block.settings.video_url contains 'youtube.com' or block.settings.video_url contains 'youtu.be' %}
                {% if block.settings.video_url contains 'watch?v=' %}
                  {% assign video_id = block.settings.video_url | split: 'watch?v=' | last | split: '&' | first %}
                {% elsif block.settings.video_url contains 'youtu.be/' %}
                  {% assign video_id = block.settings.video_url | split: 'youtu.be/' | last %}
                {% endif %}
                <div class="video-container relative w-full h-full">
                  <iframe
                    data-src="https://www.youtube.com/embed/{{ video_id }}?autoplay=1&mute=1&loop=1&playlist={{ video_id }}&controls=0"
                    class="absolute inset-0 w-full h-full lazy-iframe"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                  <div class="lazy-loader"></div>
                </div>
              {% elsif block.settings.video != blank %}
                <div class="video-container relative aspect-video w-full">
                  {{
                    block.settings.video
                    | video_tag: autoplay: true, loop: true, muted: true, controls: true, class: 'w-full h-full '
                  }}
                </div>
              {% endif %}
            {% else %}
              <!-- Media block with no content - show placeholder image only -->
              <div class="image-container relative aspect-video w-full">
                <img
                  src="{{ 'defaultproduct.svg' | asset_url }}"
                  alt="Default Product"
                  class="w-full h-full default-product-img {% if block.settings.span_two_columns %}{% else %}{% endif %}"
                  loading="lazy"
                  width="100"
                  height="100"
                >
              </div>
            {% endif %}
          {% endif %}
        {% else %}
          {% if block.settings.image != blank %}
            <div class="image-container relative aspect-video w-full">
              <img
                data-srcset="
                  {%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                "
                data-src="{{ block.settings.image | image_url: width: 750 }}"
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                class="w-full  lazy-image"
                loading="lazy"
                width="100"
                height="100"
                data-sizes="
                  (min-width: 990px) {% if block.settings.span_two_columns %}66vw{% else %}33vw{% endif %},
                  (min-width: 750px) {% if block.settings.span_two_columns %}50vw{% else %}33vw{% endif %},
                  100vw
                "
                alt="{{ block.settings.image.alt | escape }}"
              >
              <div class="lazy-loader"></div>
            </div>
          {% elsif block.settings.video_url != blank or block.settings.video != blank %}
            {% if block.settings.video_url contains 'youtube.com' or block.settings.video_url contains 'youtu.be' %}
              {% if block.settings.video_url contains 'watch?v=' %}
                {% assign video_id = block.settings.video_url | split: 'watch?v=' | last | split: '&' | first %}
              {% elsif block.settings.video_url contains 'youtu.be/' %}
                {% assign video_id = block.settings.video_url | split: 'youtu.be/' | last %}
              {% endif %}
              <div class="video-container relative w-full h-full">
                <iframe
                  data-src="https://www.youtube.com/embed/{{ video_id }}?autoplay=1&mute=1&loop=1&playlist={{ video_id }}&controls=0"
                  class="absolute inset-0 w-full h-full lazy-iframe"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
                <div class="lazy-loader"></div>
              </div>
            {% elsif block.settings.video != blank %}
              <div class="video-container relative aspect-video w-full">
                {{
                  block.settings.video
                  | video_tag: autoplay: true, loop: true, muted: true, controls: true, class: 'w-full h-full '
                }}
              </div>
            {% endif %}
          {% else %}
            {%- if block.settings.collection != blank -%}
              {% assign collection = block.settings.collection %}
              <a
                href="{{ collection.url }}"
                class="block h-full w-full group"
                style="text-decoration:none;color:inherit;display:block;"
              >
                <div class="card-collection__content flex flex-col justify-end h-full">
                  <div class="card-collection__media flex-1 relative">
                    {% if collection.featured_image %}
                      <img
                        srcset="
                          {%- if collection.featured_image.width >= 360 -%}{{ collection.featured_image | image_url: width: 360 }} 360w,{%- endif -%}
                          {%- if collection.featured_image.width >= 535 -%}{{ collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                          {%- if collection.featured_image.width >= 750 -%}{{ collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                          {%- if collection.featured_image.width >= 1000 -%}{{ collection.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                          {%- if collection.featured_image.width >= 1200 -%}{{ collection.featured_image | image_url: width: 1200 }} 1200w,{%- endif -%}
                          {%- if collection.featured_image.width >= 1500 -%}{{ collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                          {%- if collection.featured_image.width >= 1800 -%}{{ collection.featured_image | image_url: width: 1800 }} 1800w,{%- endif -%}
                        "
                        src="{{ collection.featured_image | image_url: width: 1200 }}"
                        sizes="(min-width: 990px) {% if block.settings.span_two_columns %}66vw{% else %}33vw{% endif %}, (min-width: 750px) {% if block.settings.span_two_columns %}50vw{% else %}33vw{% endif %}, 100vw"
                        alt="{{ collection.title | escape }}"
                        class="w-full  {% if block.settings.span_two_columns %}{% else %}{% endif %}"
                        loading="lazy"
                        width="{{ collection.featured_image.width }}"
                        height="{{ collection.featured_image.height }}"
                      >
                    {% else %}
                      <img
                        src="{{ 'defaultproduct.svg' | asset_url }}"
                        alt="Default Product"
                        class="w-full h-full default-product-img {% if block.settings.span_two_columns %}{% else %}{% endif %}"
                        loading="lazy"
                        width="100"
                        height="100"
                      >
                    {% endif %}
                  </div>
                  <div class="card-collection__heading p-2">
                    <div class="collection-title-custom" style="color: var(--text);">
                      {{ collection.title | upcase }}
                    </div>
                    <div class="collection-count-custom" style="color: var(--text);">
                      number of products {{ collection.products_count }}
                    </div>
                  </div>
                </div>
              </a>
            {%- else -%}
              <div class="card-collection__content flex flex-col justify-end h-full">
                <div class="card-collection__media flex-1 relative">
                  <img
                    src="{{ 'defaultproduct.svg' | asset_url }}"
                    alt="Default Product"
                    class="w-full h-full default-product-img {% if block.settings.span_two_columns %}{% else %}{% endif %}"
                    loading="lazy"
                    width="100"
                    height="100"
                  >
                </div>
                <div class="card-collection__heading p-2">
                  <div class="collection-title-custom" style="color: var(--text);">Collection Name</div>
                  <div class="collection-count-custom" style="color: var(--text);">number of products 0</div>
                </div>
              </div>
            {%- endif -%}
          {% endif %}
        {% endif %}
      </li>
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "enabled_on": {
    "templates": ["list-collections"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "portrait",
      "label": "Portrait"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Number of columns"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ],
      "default": "2",
      "label": "Columns on mobile"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#222"
    }
  ],
  "blocks": [
    {
      "type": "media",
      "name": "Media Block",
      "settings": [
        {
          "type": "checkbox",
          "id": "span_two_columns",
          "label": "Span Two Columns",
          "default": false,
          "info": "Make this block span across two columns"
        },
        {
          "type": "header",
          "content": "Media"
        },
        {
          "type": "url",
          "id": "video_url",
          "label": "YouTube Video URL"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Shopify Video"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "media_display_type",
          "label": "Display Type",
          "info": "Choose what to display when both image and video are uploaded",
          "options": [
            { "value": "image", "label": "Show Image" },
            { "value": "video", "label": "Show Video" }
          ],
          "default": "image"
        }
      ]
    },
    {
      "type": "collection",
      "name": "Collection Block",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections List",
      "blocks": [
        {
          "type": "media",
          "settings": {
            "span_two_columns": true,
            "image": "shopify://shop_images/collection-placeholder"
          }
        },
        {
          "type": "collection",
          "settings": {
            "collection": ""
          }
        },
        {
          "type": "collection",
          "settings": {
            "collection": ""
          }
        },
        {
          "type": "media",
          "settings": {
            "image": "shopify://shop_images/collection-placeholder"
          }
        },
        {
          "type": "collection",
          "settings": {
            "collection": ""
          }
        },
        {
          "type": "collection",
          "settings": {
            "collection": ""
          }
        },
        {
          "type": "collection",
          "settings": {
            "collection": ""
          }
        },
        {
          "type": "media",
          "settings": {
            "image": "shopify://shop_images/collection-placeholder"
          }
        }
      ]
    }
  ]
}
{% endschema %}
