{% schema %}
{
  "name": "404 Page",
  "settings": [
    {
      "type": "text",
      "id": "first_text",
      "label": "First Text",
      "default": "Did you take"
    },
    {
      "type": "text",
      "id": "second_text",
      "label": "Second Text",
      "default": "a wrong turn?"
    },
    {
      "type": "text",
      "id": "third_text",
      "label": "Third Text",
      "default": "Page not found"
    },
    {
      "type": "checkbox",
      "id": "enable_animation",
      "label": "Enable Text Animation",
      "default": true
    }
  ]
}
{% endschema %}

<div class="bandit-404-section">
  {% if section.settings.enable_animation %}
    <svg class="svg-text-flow text-flow-10 is-animating" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 1400 600" data-text-path-animate="text-flow-10">
      <path id="text-flow-10" fill="none" d="M1200,287.5H80.5a80,80,0,0,1-80-80V80.5a80,80,0,0,1,80-80h1000"></path>
      <text y="40" style="text-transform: uppercase;" font-size="60" fill="currentColor">
        <textPath href="#text-flow-10" startOffset="-551">
          {{ section.settings.first_text }}
          <animate attributeName="startOffset" from="0" to="1511.36279296875" dur="1.6s" begin="0.3s" fill="freeze"></animate>
        </textPath>
      </text>
    </svg>

    <svg class="svg-text-flow text-flow-11 is-animating" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 1400 600" data-text-path-animate="text-flow-11">
      <path id="text-flow-11" fill="none" d="M100.5,-30.5V80.5a80,80,0,0,0,80,80h800"></path>
      <text y="40" style="text-transform: uppercase;" font-size="60" fill="currentColor">
        <textPath href="#text-flow-11" startOffset="-551">
          {{ section.settings.second_text }}
          <animate attributeName="startOffset" from="0" to="300" dur="1.6s" begin="0.3s" fill="freeze"></animate>
        </textPath>
      </text>
    </svg>

    <svg class="svg-text-flow text-flow-12 is-animating" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 1400 600" data-text-path-animate="text-flow-12">
      <path id="text-flow-12" fill="none" d="M100.5,387.5V80.5a80,80,0,0,1,80,-80h800"></path>
      <text y="40" style="text-transform: uppercase;" font-size="60" fill="currentColor">
        <textPath href="#text-flow-12" startOffset="-551">
          {{ section.settings.third_text }}
          <animate attributeName="startOffset" from="0" to="502" dur="2.5s" begin="2s" fill="freeze"></animate>
        </textPath>
      </text>
    </svg>
  {% else %}
    <svg class="svg-text-flow text-flow-10" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 1400 600">
      <path id="text-flow-10-static" fill="none" d="M1200,287.5H80.5a80,80,0,0,1-80-80V80.5a80,80,0,0,1,80-80h1000"></path>
      <text y="40" style="text-transform: uppercase;" font-size="60" fill="currentColor">
        <textPath href="#text-flow-10-static" startOffset="1511.36279296875">
          {{ section.settings.first_text }}
        </textPath>
      </text>
    </svg>

    <svg class="svg-text-flow text-flow-11" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 1400 600">
      <path id="text-flow-11-static" fill="none" d="M100.5,-30.5V80.5a80,80,0,0,0,80,80h800"></path>
      <text y="40" style="text-transform: uppercase;" font-size="60" fill="currentColor">
        <textPath href="#text-flow-11-static" startOffset="300">
          {{ section.settings.second_text }}
        </textPath>
      </text>
    </svg>

    <svg class="svg-text-flow text-flow-12" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 1400 600">
      <path id="text-flow-12-static" fill="none" d="M100.5,387.5V80.5a80,80,0,0,1,80,-80h800"></path>
      <text y="40" style="text-transform: uppercase;" font-size="60" fill="currentColor">
        <textPath href="#text-flow-12-static" startOffset="502">
          {{ section.settings.third_text }}
        </textPath>
      </text>
    </svg>
  {% endif %}
</div>

<style>
.bandit-404-section {
  min-height: 60vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding: 8vh 0 15vh;
  overflow: visible;
}

.svg-text-flow {
  color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0.6);
  width: 100%;
  max-width: 1000px;
  overflow: visible;
}

.text-flow-10 {
  top: 5vh;
}

.text-flow-11 {
  top: 0vh;
}

.text-flow-12 {
  top: 25vh;
}

@media screen and (max-width: 768px) {
  .bandit-404-section {
    min-height: 50vh;
    padding: 8vh 0 10vh;
  }

  .svg-text-flow {
    transform: translateX(-50%) scale(0.7);
  }

  .text-flow-10 {
  top: 6vh;
}

  .text-flow-11 {
  top: 5vh;
}

  text {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 375px) {
  .bandit-404-section {
    min-height: 45vh;
    padding: 6vh 0 8vh;
  }

  .svg-text-flow {
    transform: translateX(-50%) scale(0.8);
  }

  text {
    font-size: 40px !important;
  }
}
</style>