<script src="{{ 'blog-edit.js' | asset_url }}" defer></script>
 {% schema %}
{
  "name": "Default Blog Posts",
  "settings": [
    {
      "type": "text",
      "id": "full_text",
      "label": "Full Heading Text",
      "default": "The Bandit x ASICS Novablast 5 Campaign"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show Article Date",
      "default": true
    }
  ],
}
{% endschema %}
<style>
 :root {
    --font-heading-family: {{ settings.type_heading_font.family }}, sans-serif;
    --font-body-family: {{ settings.type_body_font.family }}, sans-serif;
  }
  #animated-heading {
    font-family: var(--font-heading-family);
  }
  .letter {
    display: inline-block;
    opacity: 0;
    transform: translateX(100vw);
    animation: slideInLetter 0.8s forwards;
  }
  @keyframes slideInLetter {
    0% {
      opacity: 0;
      transform: translateX(100vw);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .show_date, .card-excerpt {
    font-family: var(--font-body-family);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 .parallax-image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 58%;
  width: 50vw;
  z-index: 20; 
  pointer-events: none;
  margin-top: 430px;
  margin-bottom: -10px;
  transform: translateY(100px); 
  transition: transform 0.1s linear;
}


@media (max-width: 768px) {
  .parallax-image-overlay {
    position: relative;
  width: 100%;
  margin: 0 auto;
  transform: none;
  z-index: 1;
  padding-top: 20px;
    
  }
  .section1{
    min-height:0vh !important;
  }
}

.fade-up {
  animation: fadeUp 2.0s ease-out forwards;
}
  
.blog-article-section{
  color: var(--text);
}
  .section-2-header{
    color: var(--text);
  }
  hr {
  border: none;
  border-top: 2px solid var(--text);
  margin: 20px 0;
}

  .arrow-svg12{
    fill: none;
  margin-left: -38px;
  flex-shrink: 0;
  stroke: var(--text);
  }
  .hrline{
    color: var(--text);
  }
  .overlay-content{
    margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  }
@media (max-width: 767px) {
  .card-excerpt {
     margin-left:25px !important;
  }
  .overlay-content{
    margin-top:20px !important; 
  }
  #animated-heading {
    font-size: 2rem !important; 
    width: 70vw !important; 
  }


   #arrow-svg1{
     height: 38px !important;
      width: 44px !important;
    margin-left:0px !important;
     margin-top:6px !important;
  }
  .arrow-svg12{
    height: 38px !important;
      width: 44px !important;
    margin-left:0px !important;
     margin-top:6px !important;
  }
    .main_heading{
      margin-left:-206px !important;
    }
}
  ::selection {
  color: #f97316;
}
  #animated-heading {
    font-family: var(--font-heading-family);
  }
  .letter {
    display: inline-block;
    opacity: 0;
    transform: translateX(100vw);
    animation: slideInLetter 0.8s forwards;
  }
  .card-excerpt{
     margin-left:150px;
  }
  .overlay-content {
  color: var(--header_text);
}

.arrow-svg1 {
  fill: none;
  margin-left: -38px;
  flex-shrink: 0;
  stroke: var(--header_text);
}

</style>
  <script>
 document.addEventListener("DOMContentLoaded", function () {
  const parallaxImage = document.querySelector('.parallax-image-overlay');

  window.addEventListener('scroll', function () {
    const scrollTop = window.scrollY;
    const speed = 0.7; 
    parallaxImage.style.transform = `translateY(${100 - scrollTop * speed}px)`;
  });
});

</script>

<section class="section1 color-{{ section.settings.color_scheme }} relative overflow-hidden flex items-start" style="min-height: 140vh;">
  <div class="w-full max-w-7xl flex flex-col text-left relative z-10" style="margin-left:13px;">
    <div class="overlay-content max-w-7xl relative flex flex-col" style="margin-top:55px;">
      <div class="top-18 left-20 text-4xl show_date">
        {% if section.settings.show_date %}
          {{ article.published_at | date: "%m.%d.%Y" }} &nbsp;&nbsp;
        {% endif %}
      </div>

      <div class="flex flex-row items-start">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="arrow-svg1"
          id="arrow-svg1"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          style="fill:none;margin-top: 13px;margin-right: 187px;margin-left: 20px;height: 184px;"
        >
          <path d="M1.1875 7.7334H7.6599M7.6599 7.7334V1.261M7.6599 7.7334L1.1875 1.261"></path>
        </svg>

        <div class="main_heading top-11 left-3 md:left-25 z-10 flex flex-col items-start text-left" style="margin-left: -253px;">
          <div
            class="text-4xl sm:text-6xl md:text-[10.5rem] font-medium uppercase leading-tight sm:leading-none break-words md:w-[40vw] sm:w-[100px] w-[50vw]"
            style="width:730px; color: {{ section.settings.color_scheme }}"
            id="animated-heading"
          >
            {{ section.settings.full_text }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if article.image %}
    <div class="parallax-image-overlay px-6">
      {{
        article.image
        | image_url: width: 1200
        | image_tag:
              class: "blog-main-image",
              alt: article.image.alt | escape
      }}
    </div>
  {% endif %}
</section>

<div class="blog-article-container color-{{ section.settings.color_scheme }} {% unless article.image %}no-image{% endunless %} " style="margin-top:-70px;">
  <div class="blog-article-content {% unless article.image %}centered-content{% endunless %}" style="color: rgb(var(--color-text));">
    <div class="blog-article-header" style="color: rgb(var(--color-text)); margin-top:70px;">
       <hr class="hrline w-screen max-w-none mx-auto"
     style="border-top: 2px solid {{ section.settings.color_scheme }}; margin-bottom:14px; margin-left:13px;" />


  <h3 class="section-2-header uppercase font-medium tracking-tight color-{{ section.settings.color_scheme }}" style="margin-left:13px;">{{ article.title }}</h3>
  <hr class=" hrline w-screen max-w-none mx-auto"
     style="border-top: 2px solid {{ section.settings.color_scheme }}; margin-bottom:14px; margin-left:13px;" />
    </div>
     <div class="flex flex-row">
    <svg
          xmlns="http://www.w3.org/2000/svg"
          class="arrow-svg12 w-9 h-8 md:mt-[20px] mt-[10px] sm:w-16 sm:h-18 md:w-20 md:h-44 lg:w-44 lg:h-28 "
          viewBox="0 0 14 14"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          style="fill:none; margin-top:7px; margin-left:-6px;"
        >
           <path d="M1.1875 7.7334H7.6599M7.6599 7.7334V1.261M7.6599 7.7334L1.1875 1.261"></path>
        </svg>
    <div class="blog-article-section w-1/2 mx-auto text-center text-left color-{{ section.settings.color_scheme }}" style="margin-bottom:20px;">
      {{ article.content }}
    </div>
  </div>
<script type="application/ld+json">
  {{ article | structured_data }}
</script>
