<script src="{{ 'blog-edit.js' | asset_url }}" defer></script>
<style>
  @media (max-width: 767px) {
    
    .excerpt{
      margin-left:55px !important;
    }
    .hero-image {
      height: 60vh;
    }
    .second_section {
      margin-top: 0rem;
    }
    .subclass-header {
      margin-bottom: 0.5rem;
    }
    .subclass-header span {
      font-size: 1.25rem;
    }
    .arrow-svg1 {
      height: 1.375rem;
      width: 1.75rem;
      margin-right:10px !important;
      margin-top:-23px !important;
    }
    #animated-heading{
      font-size:35px !important;
    }
    .date-tag{
      font-size:14px !important;
    }
  }

  :root {
  --font-heading-family: {{ settings.type_heading_font.family }}, sans-serif;
  --font-body-family: {{ settings.type_body_font.family }}, sans-serif;
}

  #animated-heading {
    font-family: var(--font-heading-family);
  }

  .letter {
    display: inline-block;
    opacity: 0;
    transform: translateX(100vw);
    animation: slideInLetter 0.8s forwards;
  }
   .excerpt{
     font-family: var(--font-heading-family);
   }
  @keyframes slideInLetter {
    0% {
      opacity: 0;
      transform: translateX(100vw);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .date-tag {
    font-family: var(--font-heading-family);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @media (prefers-reduced-motion: reduce) {
  .letter,
  .fade-up {
    animation: none !important;
  }
}

  .fade-up {
    animation: fadeUp 2s ease-out forwards;
  }

  .overlay-content {
    color: var(--header_text);
    line-height: 1.75rem;
  }
  .arrow-svg1 {
    flex-shrink: 0;
    stroke: var(--header_text);
    margin-left:20px;
  }

  :focus {
    outline: 2px solid #f97316;
    outline-offset: 2px;
  }
  .arrow-svg1{
     stroke: var(--header_text);
    fill: var(--header_text);
  }
 ::selection{
   color:orange;
 }
</style>

<section id="main-content" class="color-{{ section.settings.color_scheme }} overflow-hidden flex relative">
  {% if section.settings.image != blank %}
   <img
  class="hero-image object-cover absolute inset-0 w-full h-full focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500"
  src="{{ section.settings.image | image_url: width: 2000 }}"
  alt="Hero Background"
  tabindex="0"
  width="{{ section.settings.image.width }}"
  height="{{ section.settings.image.height }}"
/>

  {% else %}
    {{ 'image' | placeholder_svg_tag: 'hero-image object-cover absolute inset-0 w-full h-full focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500' }}
  {% endif %}

  <div class="w-full max-w-7xl flex flex-col text-left ml-3 relative md:h-[900px]">
    <div class="overlay-content relative  flex flex-col">
      <div class="date-tag relative text-4xl" style="margin-left: 20px;margin-top: 20px;">
        {{ section.settings.date_text }}
      </div>

      <div class="flex flex-row">
       <svg
          xmlns="http://www.w3.org/2000/svg"
          class="arrow-svg1"
          id="arrow-svg1"
          viewBox="0 0 11 11"
          stroke-width="1.3"
          stroke-linecap="round"
          stroke-linejoin="round"
          style="fill:none;margin-top: 13px;margin-right: 35px;margin-left: 20px;height: 71px;"
        >
          <path d="M1.1875 7.7334H7.6599M7.6599 7.7334V1.261M7.6599 7.7334L1.1875 1.261"></path>
        </svg>


        <div class="main_heading relative flex flex-col items-start text-left">
       <div
          class="font-medium uppercase leading-none tracking-tighter text-left md:w-[65vw] w-[55vw]"
          style="font-size: clamp(2rem, 8vw, 12rem); word-break: keep-all; overflow-wrap: break-word; line-height: 0.8; color: {{ section.settings.color_scheme }};"
        >
  <span aria-hidden="true">
    {{ section.settings.full_text }}
  </span>
</div>

        </div>
      </div>

      <p class="excerpt text-xl md:text-3xl uppercase mb-8 mt-5" style="margin-left:127px;">
        {{ section.settings.excerpt_text }}
      </p>
    </div>
  </div>
</section>
  {% schema %}
{
  "name": "Blog",
  "tag": "section",
   "disabled_on": {
      "groups": ["footer", "header"]
    },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color Scheme"
    },
    {
      "type": "text",
      "id": "full_text",
      "label": "Full Heading Text",
      "default": "The Bandit x ASICS Novablast 5 Campaign"
    },
    {
      "type": "text",
      "id": "date_text",
      "label": "Date",
      "default": "04.01.25"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main Image"
    },
    {
      "type": "text",
      "id": "excerpt_text",
      "label": "Excerpt Text",
      "default": "Our first-ever footwear collaboration."
    }
  ]
}
{% endschema %}
