{% schema %}
{
  "name": "404 Page",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color Scheme"
    },
    {
      "type": "text",
      "id": "first_text",
      "label": "t:sections.404.first_text.label",
      "default": "Did you take"
    },
    {
      "type": "text",
      "id": "second_text",
      "label": "t:sections.404.second_text.label",
      "default": "a wrong turn?"
    },
    {
      "type": "text",
      "id": "third_text",
      "label": "t:sections.404.third_text.label",
      "default": "Page not found"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.404.button_text.label",
      "default": "Home"
    },
    {
      "type": "header",
      "content": "t:sections.404.animation_header.label"
    },
    {
      "type": "select",
      "id": "animation_mode",
      "label": "Animation Mode",
      "options": [
        {
          "value": "static",
          "label": "Static"
        },
        {
          "value": "curved",
          "label": "Curved Animation"
        },
        {
          "value": "slide",
          "label": "Slide Animation"
        }
      ],
      "default": "slide"
    },
    {
      "type": "range",
      "id": "animation_speed",
      "min": 0.5,
      "max": 3,
      "step": 0.1,
      "unit": "s",
      "label": "t:sections.404.animation_speed.label",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "t:sections.404.background_image_header.label"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.404.background_image.label"
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "t:sections.404.background_size.label",
      "options": [
        {
          "value": "cover",
          "label": "t:sections.404.background_size.options.cover.label"
        },
        {
          "value": "contain",
          "label": "t:sections.404.background_size.options.contain.label"
        }
      ],
      "default": "cover"
    }
  ]
}
{% endschema %}

<main role="main">
  <h1 class="sr-only">{{ section.settings.third_text }}</h1>
  <div
    class="bandit-404-section color-{{ section.settings.color_scheme }}"
    style="{% if section.settings.background_image %}background-image: url({{ section.settings.background_image | image_url }}); background-size: {{ section.settings.background_size }};{% endif %}"
  >
    {% if section.settings.animation_mode == 'curved' %}
      <svg
        class="svg-text-flow text-flow-10 is-animating"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="-100 -100 1400 600"
        data-text-path-animate="text-flow-10"
      >
        <path id="text-flow-10" fill="none" d="M1200,287.5H80.5a80,80,0,0,1-80-80V80.5a80,80,0,0,1,80-80h1000"></path>
        <text y="40" style="text-transform: uppercase;" font-size="60" fill="var(--color-foreground)">
          <textPath href="#text-flow-10" startOffset="-551">
            {{ section.settings.first_text }}
            <animate attributeName="startOffset" from="0" to="1511.36279296875" dur="{{ section.settings.animation_speed }}s" begin="0.3s" fill="freeze"></animate>
          </textPath>
        </text>
      </svg>

      <svg
        class="svg-text-flow text-flow-11 is-animating"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="-100 -100 1400 600"
        data-text-path-animate="text-flow-11"
      >
        <path id="text-flow-11" fill="none" d="M100.5,-30.5V80.5a80,80,0,0,0,80,80h800"></path>
        <text y="40" style="text-transform: uppercase;" font-size="60" fill="var(--color-foreground)">
          <textPath href="#text-flow-11" startOffset="-551">
            {{ section.settings.second_text }}
            <animate attributeName="startOffset" from="0" to="300" dur="{{ section.settings.animation_speed }}s" begin="0.3s" fill="freeze"></animate>
          </textPath>
        </text>
      </svg>

      <svg
        class="svg-text-flow text-flow-12 is-animating"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="-100 -100 1400 600"
        data-text-path-animate="text-flow-12"
      >
        <path id="text-flow-12" fill="none" d="M100.5,387.5V80.5a80,80,0,0,1,80,-80h800"></path>
        <text y="40" style="text-transform: uppercase;" font-size="60" fill="var(--color-foreground)">
          <textPath href="#text-flow-12" startOffset="-551">
            {{ section.settings.third_text }}
            <animate attributeName="startOffset" from="0" to="502" dur="{{ section.settings.animation_speed | times: 1.5 }}s" begin="{{ section.settings.animation_speed | plus: 0.3 }}s" fill="freeze"></animate>
          </textPath>
        </text>
      </svg>
    {% elsif section.settings.animation_mode == 'slide' %}
      <div class="slide-animation">
        <div class="slide-text slide-left">{{ section.settings.first_text }}</div>
        <div class="slide-text slide-right">{{ section.settings.second_text }}</div>
        <div class="slide-text slide-left">{{ section.settings.third_text }}</div>
      </div>
    {% else %}
      <svg class="svg-text-flow text-flow-10" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 1400 600">
        <path id="text-flow-10-static" fill="none" d="M1200,287.5H80.5a80,80,0,0,1-80-80V80.5a80,80,0,0,1,80-80h1000"></path>
        <text y="40" style="text-transform: uppercase;" font-size="60" fill="var(--color-foreground)">
          <textPath href="#text-flow-10-static" startOffset="1511.36279296875">
            {{ section.settings.first_text }}
          </textPath>
        </text>
      </svg>

      <svg class="svg-text-flow text-flow-11" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 1400 600">
        <path id="text-flow-11-static" fill="none" d="M100.5,-30.5V80.5a80,80,0,0,0,80,80h800"></path>
        <text y="40" style="text-transform: uppercase;" font-size="60" fill="var(--color-foreground)">
          <textPath href="#text-flow-11-static" startOffset="300">
            {{ section.settings.second_text }}
          </textPath>
        </text>
      </svg>

      <svg class="svg-text-flow text-flow-12" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 1400 600">
        <path id="text-flow-12-static" fill="none" d="M100.5,387.5V80.5a80,80,0,0,1,80,-80h800"></path>
        <text y="40" style="text-transform: uppercase;" font-size="60" fill="var(--color-foreground)">
          <textPath href="#text-flow-12-static" startOffset="502">
            {{ section.settings.third_text }}
          </textPath>
        </text>
      </svg>
    {% endif %}
    <p class="sr-only">{{ section.settings.third_text }}</p>
    <a href="/" class="main-404-button" aria-label="Go to homepage">
      <div class="main-404-button-text-container">
        <div class="main-404-button-text">
          {{ section.settings.button_text }}
        </div>
        <div class="main-404-button-text-hover">
          {{ section.settings.button_text }}
        </div>
      </div>
    </a>
  </div>

  <noscript>
    <p>Page not found</p>
  </noscript>
</main>

<style>
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .bandit-404-section {
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding: 8vh 0 15vh;
    overflow: visible;
    background-position: center;
    background-repeat: no-repeat;
  }

  .svg-text-flow {
    color: var(--text);
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scale(0.6);
    width: 100%;
    max-width: 1000px;
    overflow: visible;
  }

  .svg-text-flow text {
    fill: currentColor;
  }

  .text-flow-10 {
    top: -4vh;
  }

  .text-flow-11 {
    top: -10vh;
  }

  .text-flow-12 {
    top: 30vh;
  }

  .main-404-button {
    cursor: pointer;
    position: relative;
    top: 20vh;
    padding: 3px 12px;
    text-decoration: none;
    font-size: 24px;
    line-height: 1;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--button);
    color: var(--button_label);
     overflow: hidden;
      transition: background-color 0s, color 0s;
  }

  .main-404-button:hover {
     color: var(--button);
    background-color: var(--button_label);
    border: 1px solid var(--button);
  }

  .main-404-button-text-container {
      position: relative;
      width: 100%;
      overflow: hidden;
    }

    .main-404-button-text {
      display: flex;
      align-items: center;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      transition: transform 0.7s ease;
    }

    .main-404-button:hover .main-404-button-text {
      transform: translateX(-100%);
    }

    .main-404-button-text-hover {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      transform: translateX(100%);
      transition: transform 0.7s ease;
    }

    .main-404-button:hover .main-404-button-text-hover {
      transform: translateX(0);
    }

  .main-404-button:not(:hover) .main-404-button-text,
    .main-404-button:not(:hover) .main-404-button-text-hover {
      transition: none;
    }

  {% if section.settings.animation_mode == 'slide' %}
  .main-404-button {
    top: -5vh;
  }
  {% endif %}

  @media screen and (max-width: 768px) {
    .bandit-404-section {
      height: 37vh;
      padding: 8vh 0 10vh;
      font-size: 30px !important;
    }

    .text-flow-10 {
      top: 2vh;
    }

    .text-flow-11 {
      top: 3vh;
    }

    .text-flow-12 {
      top: 16vh;
    }

    text {
      font-size: 85px !important;
    }

    .main-404-button {
    top: 10vh;
    font-size: 15px;
    }

    {% if section.settings.animation_mode == 'slide' %}
    .main-404-button {
      top: 4vh;
    }
    {% endif %}
  }

  .slide-animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .slide-text {
    color: var(--text);
    font-size: 30px !important;
    text-transform: uppercase;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 3s forwards;
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .slide-text:nth-child(1) {
    animation-delay: 0.3s;
    top: 2vh;
  }

  .slide-text:nth-child(2) {
    animation-delay: 0.3s;
    top: 6vh;
  }

  .slide-text:nth-child(3) {
    animation-delay: 1.3s;
    top: 30vh;
  }

  .slide-right {
    transform: translateX(100%);
  }

  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 768px) {
    .slide-text {
      font-size: 15px !important;
    }

    .slide-text:nth-child(1) {
      top: 1vh;
    }

    .slide-text:nth-child(2) {
      top: 3vh;
    }

    .slide-text:nth-child(3) {
      top: 16vh;
    }
  }
</style>
