{% schema %}
{
  "name": "404 Page",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color Scheme"
    },
    {
      "type": "text",
      "id": "first_text",
      "label": "t:sections.404.first_text.label",
      "default": "Lost in the "
    },
    {
      "type": "text",
      "id": "second_text",
      "label": "t:sections.404.second_text.label",
      "default": "internet?"
    },
    {
      "type": "text",
      "id": "third_text",
      "label": "t:sections.404.third_text.label",
      "default": "Don’t worry, we’ll guide you back."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.404.button_text.label",
      "default": "Home"
    },
    {
      "type": "header",
      "content": "t:sections.404.animation_header.label"
    },
    {
      "type": "select",
      "id": "animation_mode",
      "label": "Animation Mode",
      "options": [
        {
          "value": "static",
          "label": "Static"
        },
        {
          "value": "curved",
          "label": "Curved Animation"
        },
        {
          "value": "slide",
          "label": "Slide Animation"
        }
      ],
      "default": "slide"
    },
    {
      "type": "range",
      "id": "animation_speed",
      "min": 0.5,
      "max": 3,
      "step": 0.1,
      "unit": "s",
      "label": "t:sections.404.animation_speed.label",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "t:sections.404.background_image_header.label"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.404.background_image.label"
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "t:sections.404.background_size.label",
      "options": [
        {
          "value": "cover",
          "label": "t:sections.404.background_size.options.cover.label"
        },
        {
          "value": "contain",
          "label": "t:sections.404.background_size.options.contain.label"
        }
      ],
      "default": "cover"
    }
  ]
}
{% endschema %}

<link rel="stylesheet" href="{{ 'main-404.css' | asset_url }}" />

<main role="main">
  <h1 class="sr-only">{{ section.settings.third_text }}</h1>
  <div
    class="bandit-404-section color-{{ section.settings.color_scheme }}"
    style="{% if section.settings.background_image %}background-image: url({{ section.settings.background_image | image_url }}); background-size: {{ section.settings.background_size }};{% endif %}"
  >
    {% if section.settings.animation_mode == 'curved' %}
      <svg
        class="svg-text-flow text-flow-10 is-animating"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="-100 -100 1400 600"
        data-text-path-animate="text-flow-10"
        aria-hidden="true"
        focusable="false"
      >
        <path id="text-flow-10" fill="none" d="M1200,287.5H80.5a80,80,0,0,1-80-80V80.5a80,80,0,0,1,80-80h1000"></path>
        <text y="40" style="text-transform: uppercase;" font-size="60" fill="var(--color-foreground)">
          <textPath href="#text-flow-10" startOffset="-551">
            {{ section.settings.first_text }}
            <animate attributeName="startOffset" from="0" to="1511.36279296875" dur="{{ section.settings.animation_speed }}s" begin="0.3s" fill="freeze"></animate>
          </textPath>
        </text>
      </svg>

      <svg
        class="svg-text-flow text-flow-11 is-animating"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="-100 -100 1400 600"
        data-text-path-animate="text-flow-11"
        aria-hidden="true"
        focusable="false"
      >
        <path id="text-flow-11" fill="none" d="M100.5,-30.5V80.5a80,80,0,0,0,80,80h800"></path>
        <text y="40" style="text-transform: uppercase;" font-size="60" fill="var(--color-foreground)">
          <textPath href="#text-flow-11" startOffset="-551">
            {{ section.settings.second_text }}
            <animate attributeName="startOffset" from="0" to="300" dur="{{ section.settings.animation_speed }}s" begin="0.3s" fill="freeze"></animate>
          </textPath>
        </text>
      </svg>

      <svg
        class="svg-text-flow text-flow-12 is-animating"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="-100 -100 1400 600"
        data-text-path-animate="text-flow-12"
        aria-hidden="true"
        focusable="false"
      >
        <path id="text-flow-12" fill="none" d="M100.5,387.5V80.5a80,80,0,0,1,80,-80h1400"></path>
        <text y="40" style="text-transform: uppercase;" font-size="60" fill="var(--color-foreground)">
          <textPath href="#text-flow-12" startOffset="-551">
            {{ section.settings.third_text }}
            <animate attributeName="startOffset" from="0" to="502" dur="{{ section.settings.animation_speed | times: 1.5 }}s" begin="{{ section.settings.animation_speed | plus: 0.3 }}s" fill="freeze"></animate>
          </textPath>
        </text>
      </svg>

    {% elsif section.settings.animation_mode == 'slide' %}
      <div class="slide-animation" aria-hidden="true">
        <div class="slide-text slide-left">{{ section.settings.first_text }}</div>
        <div class="slide-text slide-right">{{ section.settings.second_text }}</div>
        <div class="slide-text slide-left">{{ section.settings.third_text }}</div>
      </div>

      
    {% else %}
      <svg class="svg-text-flow text-flow-10" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 1400 600" aria-hidden="true" focusable="false">
        <path id="text-flow-10-static" fill="none" d="M1200,287.5H80.5a80,80,0,0,1-80-80V80.5a80,80,0,0,1,80-80h1000"></path>
        <text y="40" style="text-transform: uppercase;" font-size="60" fill="var(--color-foreground)">
          <textPath href="#text-flow-10-static" startOffset="1511.36279296875">
            {{ section.settings.first_text }}
          </textPath>
        </text>
      </svg>

      <svg class="svg-text-flow text-flow-11" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 1400 600" aria-hidden="true" focusable="false">
        <path id="text-flow-11-static" fill="none" d="M100.5,-30.5V80.5a80,80,0,0,0,80,80h800"></path>
        <text y="40" style="text-transform: uppercase;" font-size="60" fill="var(--color-foreground)">
          <textPath href="#text-flow-11-static" startOffset="300">
            {{ section.settings.second_text }}
          </textPath>
        </text>
      </svg>

      <svg class="svg-text-flow text-flow-12" xmlns="http://www.w3.org/2000/svg" viewBox="-100 -100 1400 600" aria-hidden="true" focusable="false">
        <path id="text-flow-12-static" fill="none" d="M100.5,387.5V80.5a80,80,0,0,1,80,-80h1400"></path>
        <text y="40" style="text-transform: uppercase;" font-size="60" fill="var(--color-foreground)">
          <textPath href="#text-flow-12-static" startOffset="502">
            {{ section.settings.third_text }}
          </textPath>
        </text>
      </svg>
    {% endif %}

{% assign button_delay = section.settings.animation_speed | times: 3 | append: 's' %} 
{% assign button_data_attrs = 'data-animation-delay="' | append: button_delay | append: '"' %}

<p class="sr-only">{{ section.settings.third_text }}</p>

{% if section.settings.animation_mode == 'curved' or section.settings.animation_mode == 'slide' %}
  {% render 'primary-button',
    button_text: section.settings.button_text,
    button_url: '/',
    primary_class: 'main-404-button',
    data_attributes: button_data_attrs
  %}
{% else %}
  {% render 'primary-button',
    button_text: section.settings.button_text,
    button_url: '/',
    primary_class: 'main-404-button'
    data_attributes: button_data_attrs
  %}
{% endif %}

    
  </div>

  <noscript>
    <p>Page not found</p>
  </noscript>
</main>

