<div class="popup-container">
  <div class="flex flex-col md:flex-row h-screen w-full">
    <!-- Text section -->
    <div class="w-full md:w-1/2 flex items-center justify-center p-8 bg-white">
      <div class="max-w-md text-center">
        <h1 class="text-2xl md:text-3xl font-bold mb-4">
          {{ section.settings.header }}
        </h1>
        <p class="text-black-600 mb-2 text-m">
          {{ section.settings.sub_header }}
        </p>
        <p class="text-lg text-black-400 mb-6">
          ({{ section.settings.bracket_header }})
        </p>
        <div class="email-holder">
          <input type="email" placeholder="Email address" class="w-full px-4 py-2 my-2 border-[3px] border-black rounded-md focus:outline-none focus:ring-2 focus:ring-black" />
        </div>
        <button id="get-access" class="w-full bg-black text-white py-2 rounded-md hover:bg-black-900 transition duration-200">
          {{ section.settings.btn }}
        </button>
      </div>
    </div>
    
    <div class="w-full md:w-1/2 h-full">
      {% if section.settings.image != blank %}
        <div class="h-full">
          {{ section.settings.image | image_url: width: 1200 | image_tag: 
            class: 'w-full h-full object-cover',
            alt: 'Offer Promo',
            loading: 'lazy'
          }}
        </div>
      {% else %}
        <div class="w-full h-full bg-black-200 flex items-center justify-center">
          <p class="text-black-500">Please select an image in theme settings</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Popup",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "default": "ENJOY 10% OFF YOUR FIRST ORDER + FREE SHIPPING",
      "label": "Heading for first line"
    },
    {
      "type": "text",
      "id": "sub_header",
      "default": "And stay updated on new releases, events, stories and more.",
      "label": "Heading for second line"
    },
    {
      "type": "text",
      "id": "bracket_header",
      "default": "Your code will be emailed",
      "label": "Heading for mail line"
    },
    {
      "type": "text",
      "id": "btn",
      "default": "GET ACCESS",
      "label": "Heading for access button"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image to be displayed"
    }
  ],
  "presets": [
    {
      "name": "Pop Up",
      "category": "Promotions"
    }
  ]
}
{% endschema %}