{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .rich-text__spacing {
    height: 0;
    display: block;
    clear: both;
  }

  .rich-text__blocks > * {
    margin: 0 !important;
  }

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'heading' %}
        #Heading-{{ block.id }} {
          font-weight: {% case block.settings.font_weight %}
            {% when 'light' %}300
            {% when 'normal' %}400
            {% when 'medium' %}550
            {% when 'bold' %}700
          {% endcase %};
          font-size: {% case block.settings.heading_size %}
            {% when 'h3' %}2.5rem
            {% when 'h2' %}3rem
            {% when 'h1' %}4rem
            {% when 'h0' %}5rem
            {% when 'hxl' %}6rem
            {% when 'hxxl' %}7rem
            {% when 'hxxxl' %}8rem
          {% endcase %};
          line-height: {% case block.settings.heading_size %}
            {% when 'h3' %}1.2
            {% when 'h2' %}1.1
            {% when 'h1' %}1.1
            {% when 'h0' %}1
            {% when 'hxl' %}1
            {% when 'hxxl' %}0.9
            {% when 'hxxxl' %}0.9
          {% endcase %};
          margin-bottom: {{ block.settings.spacing }}px !important;
        }
      {% when 'caption' %}
        #Caption-{{ block.id }} {
          font-weight: {% case block.settings.font_weight %}
            {% when 'light' %}300
            {% when 'normal' %}400
            {% when 'medium' %}600
            {% when 'bold' %}700
          {% endcase %};
          margin-bottom: {{ block.settings.spacing }}px !important;
        }
      {% when 'text' %}
        #Text-{{ block.id }} {
          font-weight: {% case block.settings.font_weight %}
            {% when 'light' %}300
            {% when 'normal' %}400
            {% when 'medium' %}600
            {% when 'bold' %}700
          {% endcase %};
          font-size: {% case block.settings.text_size %}
            {% when 'small' %}0.875rem
            {% when 'regular' %}1rem
            {% when 'medium' %}1.15rem
            {% when 'large' %}1.5rem
            {% when 'xlarge' %}2rem
          {% endcase %};
          line-height: {% case block.settings.text_size %}
            {% when 'small' %}1.1
            {% when 'regular' %}1.1
            {% when 'medium' %}1.2
            {% when 'large' %}1.3
            {% when 'xlarge' %}1.4
          {% endcase %};
          margin-bottom: {{ block.settings.spacing }}px !important;
        }
    {% endcase %}
  {% endfor %}

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2 id="Heading-{{ block.id }}" class="rich-text__heading rte {{ block.settings.heading_size }}{% if block.settings.text_align == 'center' %} text-center{% endif %}{% if block.settings.text_align == 'right' %} text-right{% endif %}" {{ block.shopify_attributes }}>
                {{ block.settings.heading | replace: 'p>', 'span>' }}
              </h2>
            {%- when 'caption' -%}
              <p id="Caption-{{ block.id }}" class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
              <div id="Text-{{ block.id }}" class="rich-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Full width"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>Talk about your brand</p>",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__3.label"
            },
            {
              "value": "h0",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__4.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__5.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__6.label"
            },
            {
              "value": "hxxxl",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__7.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "font_weight",
          "options": [
            {
              "value": "light",
              "label": "t:sections.rich-text.blocks.heading.settings.font_weight.options__1.label"
            },
            {
              "value": "normal",
              "label": "t:sections.rich-text.blocks.heading.settings.font_weight.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.heading.settings.font_weight.options__3.label"
            },
            {
              "value": "bold",
              "label": "t:sections.rich-text.blocks.heading.settings.font_weight.options__4.label"
            }
          ],
          "default": "bold",
          "label": "Font weight"
        },
        {
          "type": "select",
          "id": "text_align",
          "options": [
            {
              "value": "left",
              "label": "t:sections.rich-text.blocks.heading.settings.text_align.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.rich-text.blocks.heading.settings.text_align.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.rich-text.blocks.heading.settings.text_align.options__3.label"
            }
          ],
          "default": "left",
          "label": "Text alignment"
        },
        {
          "type": "range",
          "id": "spacing",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Space after element",
          "default": 20
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.rich-text.blocks.caption.name",
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "<p>Add a caption</p>",
          "label": "t:sections.rich-text.blocks.caption.settings.caption.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.caption.settings.text_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.text_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.caption.settings.text_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.rich-text.blocks.caption.settings.text_size.label"
        },
        {
          "type": "select",
          "id": "font_weight",
          "options": [
            {
              "value": "light",
              "label": "t:sections.rich-text.blocks.caption.settings.font_weight.options__1.label"
            },
            {
              "value": "normal",
              "label": "t:sections.rich-text.blocks.caption.settings.font_weight.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.font_weight.options__3.label"
            },
            {
              "value": "bold",
              "label": "t:sections.rich-text.blocks.caption.settings.font_weight.options__4.label"
            }
          ],
          "default": "normal",
          "label": "Font weight"
        },
        {
          "type": "range",
          "id": "spacing",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Space after element",
          "default": 16
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
         "default": "<p>By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions (“Terms of Service”, “Terms”), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.text.settings.text_size.options__1.label"
            },
            {
              "value": "regular",
              "label": "t:sections.rich-text.blocks.text.settings.text_size.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.text.settings.text_size.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.text.settings.text_size.options__4.label"
            },
            {
              "value": "xlarge",
              "label": "t:sections.rich-text.blocks.text.settings.text_size.options__5.label"
            }
          ],
          "default": "regular",
          "label": "Text size"
        },
        {
          "type": "select",
          "id": "font_weight",
          "options": [
            {
              "value": "light",
              "label": "t:sections.rich-text.blocks.text.settings.font_weight.options__1.label"
            },
            {
              "value": "normal",
              "label": "t:sections.rich-text.blocks.text.settings.font_weight.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.text.settings.font_weight.options__3.label"
            },
            {
              "value": "bold",
              "label": "t:sections.rich-text.blocks.text.settings.font_weight.options__4.label"
            }
          ],
          "default": "normal",
          "label": "Font weight"
        },
        {
          "type": "range",
          "id": "spacing",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Space after element",
          "default": 24
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}