{% schema %}
{
  "name": "Footer Links",
  "disabled_on": {
    "groups": ["header"],
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Footer Links"
    },
    {
      "type": "text",
      "id": "link1_text",
      "label": "First Link Text",
      "default": "Privacy Policy"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color Scheme"
    },
    {
      "type": "url",
      "id": "link1_url",
      "label": "First Link URL"
    },
    {
      "type": "text",
      "id": "link2_text",
      "label": "Second Link Text",
      "default": "Terms of Service"
    },
    {
      "type": "url",
      "id": "link2_url",
      "label": "Second Link URL"
    },
    {
      "type": "text",
      "id": "link3_text",
      "label": "Third Link Text",
      "default": "Accessibility"
    },
    {
      "type": "url",
      "id": "link3_url",
      "label": "Third Link URL"
    },
    {
      "type": "text",
      "id": "link4_text",
      "label": "Fourth Link Text",
      "default": "Site Credit"
    },
    {
      "type": "url",
      "id": "link4_url",
      "label": "Fourth Link URL"
    }
  ],
  "presets": [
    {
      "name": "Sub Footer",
      "category": "Footer"
    }
  ]
}
{% endschema %}

{% assign side_padding = settings.side_space %}

{% if side_padding == blank or side_padding == 0 %}
  {% assign side_padding = 20 %}
{% endif %}

{{ 'sub-footer.css' | asset_url | stylesheet_tag }}
<style>
    .footer-text,
    .site-credit-link {
      color: var(--text);
    }

    .site-credit-link:hover {
      opacity: 1;
      color: var(--accent);
    }

    .site-credit-link .default-text {
      display: inline;
    }

    .site-credit-link .hover-text {
      display: none;
    }

    .site-credit-link:hover .default-text {
      display: none;
    }

    .site-credit-link:hover .hover-text {
      display: inline;
    }

    @media screen and (max-width: 480px) {
      .footer-container {
        flex-direction: column;
        gap: 1px;
      }

      .footer-links {
        flex-direction: column;
        gap: 5px;
        width: 100%;
        order: 2;
      }

      .site-credit {
        order: 1;
        margin-bottom: 1rem;
      }

      .footer-text {
        font-size: var(--tm-b-4-size);
        line-height: 11px;
      }

      .site-credit-link .default-text {
        font-size: var(--tm-b-4-size);
        line-height: 11px;
        margin-left: 20px;
      }

      .site-credit-link .hover-text {
        margin-left: 8px;
        font-size: var(--tm-b-4-size);
        line-height: 11px;
      }
    }

    @media screen and (max-width: 480px) {
      .site-credit {
        margin-left: 70%;
      }
      .footer-links {
        margin-top: -25px;
      }
      .footer-container {
        margin-top: -3px;
      }
    }

    /* Add margin-left for large screens only */
    @media screen and (min-width: 1024px) {
      .footer-links {
        margin-left: 20px;
      }
    }

  .custom-footer-style {
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);
    padding-left: {{ side_padding }}px;
    padding-right: {{ side_padding }}px;
    line-height: normal;
    background-color: var(--background);
  }
</style>

<div class="w-full flex justify-between items-center color-{{ section.settings.color_scheme }} footer-container custom-footer-style">
  <div class="flex gap-8 footer-links">
    {% if section.settings.link1_text != blank %}
      <a
        href="{{ section.settings.link1_url | default: '#' }}"
        class="footer-text uppercase no-underline ml-5 max-[480px]:ml-0"
      >
        {{- section.settings.link1_text -}}
      </a>
    {% endif %}

    {% if section.settings.link2_text != blank %}
      <a href="{{ section.settings.link2_url | default: '#' }}" class="footer-text uppercase no-underline">
        {{- section.settings.link2_text -}}
      </a>
    {% endif %}

    {% if section.settings.link3_text != blank %}
      <a href="{{ section.settings.link3_url | default: '#' }}" class="footer-text uppercase no-underline">
        {{- section.settings.link3_text -}}
      </a>
    {% endif %}
  </div>

  <div class="site-credit">
    {% if section.settings.link4_text != blank %}
      <a
        href="{{ section.settings.link4_url | default: '#' }}"
        class="site-credit-link uppercase no-underline ml-5 max-[480px]:ml-0 mr-5 max-[480px]:mr-0"
      >
        <span class="default-text">{{ section.settings.link4_text }}</span>
        <span class="hover-text">VIEW SOURCE</span>
      </a>
    {% endif %}
  </div>
</div>
