{% schema %}
{
  "name": "Footer Links",
  "disabled_on": {
    "groups": ["header"],
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Footer Links"
    },
    {
      "type": "text",
      "id": "link1_text",
      "label": "First Link Text",
      "default": "Privacy Policy"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color Scheme"
    },
    {
      "type": "color",
      "id": "hover_color",
      "label": "Hover Color",
      "default": "#ffffff",
      "info": "Choose the color for links when hovered"
    },
    {
      "type": "url",
      "id": "link1_url",
      "label": "First Link URL"
    },
    {
      "type": "text",
      "id": "link2_text",
      "label": "Second Link Text",
      "default": "Terms of Service"
    },
    {
      "type": "url",
      "id": "link2_url",
      "label": "Second Link URL"
    },
    {
      "type": "text",
      "id": "link3_text",
      "label": "Third Link Text",
      "default": "Accessibility"
    },
    {
      "type": "url",
      "id": "link3_url",
      "label": "Third Link URL"
    },
    {
      "type": "text",
      "id": "link4_text",
      "label": "Fourth Link Text",
      "default": "Site Credit"
    },
    {
      "type": "url",
      "id": "link4_url",
      "label": "Fourth Link URL"
    }
  ],
  "presets": [
    {
      "name": "Sub Footer",
      "category": "Footer"
    }
  ]
}
{% endschema %}
<style>
  .footer-text {
    color: gray;
    transition: color 0.3s ease;
    font-weight: 500;
  }
  .footer-text:hover {
    opacity: 1; 
    color: {{ section.settings.hover_color | default: '#ffffff' }};
  }
  
  @media screen and (max-width: 480px) {
    .footer-container {
      flex-direction: column;
      gap: 1px;
    }
    
    .footer-links {
      flex-direction: column;
      gap: 1px;
      width: 100%;
      order: 2;
    }
    
    .site-credit {
      order: 1;
      margin-bottom: 1rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .site-credit {
      margin-left: 70%;
    }
    .footer-links {
      margin-top: -35px;
    }
    .footer-container {
      margin-top: 0px;
    }
  }
</style>
<div class="w-full p-4 flex justify-between items-center bg-black font-sans footer-container color-{{ section.settings.color_scheme }}">
  <div class="flex gap-8 footer-links">
    {% if section.settings.link1_text != blank %}
      <a href="{{ section.settings.link1_url | default: '#' }}" class="footer-text text-2xl max-[480px]:text-xs uppercase no-underline">{{ section.settings.link1_text }}</a>
    {% endif %}
    
    {% if section.settings.link2_text != blank %}
      <a href="{{ section.settings.link2_url | default: '#' }}" class="footer-text text-2xl max-[480px]:text-xs uppercase no-underline">{{ section.settings.link2_text }}</a>
    {% endif %}
    
    {% if section.settings.link3_text != blank %}
      <a href="{{ section.settings.link3_url | default: '#' }}" class="footer-text text-2xl max-[480px]:text-xs uppercase no-underline">{{ section.settings.link3_text }}</a>
    {% endif %}
  </div>
  
  <div class="site-credit">
    {% if section.settings.link4_text != blank %}
      <a href="{{ section.settings.link4_url | default: '#' }}" class="footer-text text-2xl max-[480px]:text-xs uppercase no-underline">{{ section.settings.link4_text }}</a>
    {% endif %}
  </div>
</div>
