<section
  class="color-{{ section.settings.color_scheme }} text-with-image-section w-full min-h-screen"
  id="section-{{ section.id }}"
  style="padding: {{ settings.sections_spacing }}px {{ settings.side_space}}px;"
>
  <div id="text-with-image-slider" class="text-with-image-slider">
    <!-- Image Column -->
    <div class="text-with-image-image">
      {% if section.settings.main_image %}
        <img
          src="{{ section.settings.main_image | image_url: width: 1000 }}"
          loading="lazy"
          alt="text-with-image Image"
          style="width: 100%; height: 100%; object-fit: cover; border-radius: 0; display: block; margin: 0 auto;"
          width="100%"
          height="100%"
        >
      {% else %}
        <div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
          {{ 'collection-1' | placeholder_svg_tag: 'w-full h-[60vh] object-contain mx-auto' }}
        </div>
      {% endif %}
    </div>
    <!-- Form Column -->
    <div class="text-with-image-form-container">
      <div
        class="text-with-image-form-box"
        style="max-width: 45rem; padding: 3rem 2rem; display: flex; flex-direction: column; align-items: center; text-align: center;"
      >
        <div
          class="text-with-image-subheading"
        >
          {{ section.settings.subheading }}
        </div>
        <h2 class="text-with-image-heading">
          {{ section.settings.heading | newline_to_br }}
        </h2>
        <p class="text-with-image-description">
          {{ section.settings.description }}
        </p>
        <form
          class="text-with-image-form"
          method="post"
          action="/contact#contact_form"
          id="email-signup-form-password"
          style="display: flex; flex-direction: column; align-items: center; gap: 2rem;"
        >
          <input type="hidden" name="form_type" value="customer">
          <input type="hidden" name="utf8" value="✓">
          <div class="form-fields-container" style="width: 265px;">
            <input
              type="email"
              placeholder="{{ section.settings.email_placeholder }}"
              id="email-input-password"
              name="contact[email]"
              class="text-with-image-input"
              style="width: 265px; height: 40px; border: var(--inputs-border-width) solid var(--text); border-radius: 3px; opacity: var(--inputs-border-opacity); color:var(--text); padding: 0rem 1.4rem; font-size: 19px; outline: none; box-sizing: border-box;"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            >
          </div>
          <button
            type="submit"
            class="text-with-image-button"
          >
            <svg
              fill="none"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="transform: rotate(-90deg); transform-origin: center; transform-box: fill-box;"
            >
              <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span id="buttonText-password">{{ section.settings.button_text }}</span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <style>
    .text-with-image-section {
      box-sizing: border-box;
    }

    .text-with-image-subheading {
      font-size: 13px;
      font-weight: var(--font-subheading-weight);
    }

    .text-with-image-heading {
      font-size: 70px;
      line-height: 1;
      font-weight: var(--font-heading-weight);
    }

    .text-with-image-description {
      font-size: 16px;
      line-height: 1.2;
      margin-top: 0.8rem;
      font-weight: var(--font-subheading-weight);
    }

    .text-with-image-form {
      width: 57%;
      margin-top: 5rem;
    }

    .text-with-image-button {
      font-weight: var(--font-heading-weight);
      font-size: 32px;
      color: var(--secondary_button_text_color);
      background-color: var(--secondary_button_label);
      border-radius: 4px;
      padding: 5px 10px;
      line-height: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: color 0.5s ease;
      gap: 20px;
      border: {{ settings.buttons_border_thickness }}px solid var(--text);
      position: relative;
      overflow: hidden;
    }

    .text-with-image-button::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: var(--hovered_secondary_button_label);
      transition: left 0.5s ease;
      z-index: 0;
    }

    .text-with-image-button:hover::before {
      left: 0;
    }

    .text-with-image-button > * {
      position: relative;
      z-index: 1;
    }

    .text-with-image-button:hover {
      color: var(--hovered_secondary_button_text_color);
      border: {{ settings.buttons_border_thickness }}px solid var(--text);
    }

    .text-with-image-image,
    .text-with-image-form-container {
      flex: 0 0 calc(50% - 10px);
      max-width: calc(50% - 10px);
      scroll-snap-align: start;
    }

    .text-with-image-image {
      margin-right: 9px;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text-with-image-form-container {
      background: {{ section.settings.form_bg_color }};
      margin-left: 9px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .text-with-image-form-box {
      width: 100%;
    }

    .rotate-arrow {
      stroke-linecap: round;
      transition: transform 0.3s ease;
      transform-origin: center;
      color: inherit;
    }

    .text-with-image-button:hover .rotate-arrow {
      transform: rotate(-90deg);
    }

    .text-with-image-slider {
      display: flex;
      gap: 0px;
      overflow-y: hidden;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }

    .text-with-image-slider::-webkit-scrollbar:vertical {
      display: none;
    }

    .text-with-image-slider::-webkit-scrollbar {
      height: 6px;
      background: transparent;
      /* transform: translateY(-50%); */
    }

    .text-with-image-slider::-webkit-scrollbar-thumb {
      background-color: var(--text);
      height: 3px;
      border: none;
      margin-top: -1px;
    }

    .text-with-image-slider::-webkit-scrollbar-track {
      background-color: transparent;
      background-image: linear-gradient(to right, var(--text), var(--text));
      background-size: 100% 1px;
      background-repeat: no-repeat;
      background-position: center;
      border: none
    }

    .text-with-image-slider::-webkit-scrollbar-button:single-button {
      display: none !important;
      width: 0 !important;
      height: 0 !important;
    }

    @media (max-width: 768px) {
      .text-with-image-image,
      .text-with-image-form-container {
        flex: 0 0 278px; /* Fixed width to 278px */
        max-width: 278px; /* Fixed width to 278px */
        margin-right: 0;
        margin-left: 0;
        height: 678px; /* Fixed height to 678px */
      }

      .text-with-image-image {
        margin-right: 0.7rem;
      }

      .text-with-image-subheading {
        font-size: 1.2rem;
        width: 90%;
        letter-spacing: -0.02em; /* Reduced letter spacing */
      }

      .text-with-image-heading {
        font-size: 3rem;
        width: 90%;
        letter-spacing: -0.02em; /* Reduced letter spacing */
      }

      .text-with-image-description {
        font-size: 1.4rem;
        width: 90%;
        letter-spacing: -0.02em; /* Reduced letter spacing */
      }

      .text-with-image-button {
        font-size: 2.4rem;
        width: 182px; /* Fixed width to 182px */
        height: 28px; /* Fixed height to 28px */
        padding: 2px 5px;
        letter-spacing: -0.02em; /* Reduced letter spacing */
      }

      .text-with-image-form {
        width: 92%;
        margin-top: 20px; /* Fixed top margin to 20px */
        letter-spacing: -0.02em; /* Reduced letter spacing */
      }

      .text-with-image-form-box {
        padding: 3rem 20px; /* Left and right padding set to 20px */
      }

      .form-fields-container {
        width: 210px !important; /* Fixed width to 210px */
      }

      .text-with-image-input {
        width: 210px !important; /* Fixed width to 210px */
        height: 40px !important; /* Fixed height to 40px */
        font-size: 16px !important; /* Fixed font size to 16px */
      }
    }
  </style>
</section>

{% schema %}
{
  "name": "t:sections.text-with-image.name",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color Scheme"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "t:sections.text-with-image.settings.main_image.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.text-with-image.settings.subheading.label",
      "default": "t:sections.text-with-image.settings.subheading.default"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.text-with-image.settings.heading.label",
      "default": "t:sections.text-with-image.settings.heading.default"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:sections.text-with-image.settings.description.label",
      "default": "t:sections.text-with-image.settings.description.default"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "t:sections.text-with-image.settings.email_placeholder.label",
      "default": "t:sections.text-with-image.settings.email_placeholder.default"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.text-with-image.settings.button_text.label",
      "default": "t:sections.text-with-image.settings.button_text.default"
    },
    {
      "type": "color",
      "id": "form_bg_color",
      "label": "t:sections.text-with-image.settings.form_bg_color.label",
      "default": "#f2f2f2"
    }
  ],
  "presets": [
    {
      "name": "Text With Image"
    }
  ]
}
{% endschema %}
